#* @implicitly included *#
#*
 * Copyright 2018 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#* @vtlmacrolibrary path="velocity/macros/urls.vm" *#
#* @vtlvariable name="controllerName" type="java.lang.String" *#
#* @vtlvariable name="currentUser" type="com.thoughtworks.go.server.domain.Username" *#
#* @vtlvariable name="currentVersion" type="com.thoughtworks.go.CurrentGoCDVersion" *#
#* @vtlvariable name="goUpdate" type="java.lang.String" *#
#* @vtlvariable name="goUpdateCheckEnabled" type="boolean" *#
#* @vtlvariable name="railsAssetsService" type="com.thoughtworks.go.server.service.RailsAssetsService" *#
#* @vtlvariable name="securityService" type="com.thoughtworks.go.server.service.SecurityService" *#
#* @vtlvariable name="maintenanceModeService" type="com.thoughtworks.go.server.service.MaintenanceModeService" *#
#* @vtlvariable name="toggles" type="com.thoughtworks.go.server.service.support.toggle.Toggles" *#
#* @vtlvariable name="viewTitle" type="java.lang.String" *#
#* @vtlvariable name="webpackAssetsService" type="com.thoughtworks.go.server.service.WebpackAssetsService" *#
#* @vtlvariable name="showAnalyticsDashboard" type="boolean" *#
#* @vtlvariable name="spaTimeout" type="int" *#
#* @vtlvariable name="spaRefreshInterval" type="int" *#
#* @vtlvariable name="serverTimezoneUTCOffset" type="int" *#
