<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
    <title>Jasmine Specs</title>

    <!-- This is a fork of the `spec_runner.html.erb` from jasmine to not pull in the application.css and slow down tests -->
    <%= stylesheet_link_tag 'jasmine.css' %>
    <%= javascript_include_tag *jasmine_js_files, :defer => "defer" %>
  </head>
  <body data-no-turbolink>
    <div id="jasmine_content"></div>
    <%= yield %>
  </body>
</html>
