<%
   go_config = scope[:go_config]
-%>

<div class="heading">
    <h2><%= l.string("CONFIGURATION_FILE") -%></h2>
    <span class="wbrSensitive"><%= go_config.location -%></span>
    <span class='label'><%= l.string("CONFIG_FILE_PATH") -%></span>
</div>