<div class="form_buttons">
    <%= submit_button(l.string("SAVE"), :class => 'primary skip_dirty_stop') %>
    <%= link_to  l.string("RESET"), scope[:reset_url], :class => 'reset_button link_as_button skip_dirty_stop', :id => 'reset_form' -%>
</div>