<?xml version="1.0" encoding="UTF-8"?>
<!-- *************************GO-LICENSE-START******************************
 * Copyright 2016 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *************************GO-LICENSE-END******************************* -->


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <context:annotation-config/>
    <import resource="velocity-config.xml"/>
    <context:component-scan base-package="com.thoughtworks.go.util"/>
    <context:component-scan base-package="com.thoughtworks.go.server.controller"/>
    <context:component-scan base-package="com.thoughtworks.go.server.search"/>
    <context:component-scan base-package="com.thoughtworks.go.server.ui"/>
    <context:component-scan base-package="com.thoughtworks.go.server.web"/>
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
        <property name="alwaysUseFullPath" value="true"></property>
    </bean>

    <bean id="interceptorInjector"
          class="com.thoughtworks.go.server.web.InterceptorInjector">
        <property name="interceptors">
            <list>
                <ref bean="authorizationInterceptor"/>
                <ref bean="tabInterceptor"/>
                <ref bean="myGoInterceptor"/>
                <ref bean="flashMessageInterceptor"/>
                <ref bean="tokenInterceptor"/>
            </list>
        </property>
    </bean>

    <aop:config>
        <aop:aspect ref="interceptorInjector">
            <aop:around
                    pointcut="execution(* org.springframework.web.servlet.HandlerMapping.getHandler(..))"
                    method="mergeInterceptorsToTabs"/>
        </aop:aspect>
    </aop:config>

    <!-- Interceptors -->
    <bean id="tabInterceptor" class="com.thoughtworks.go.server.web.TabInterceptor" autowire="autodetect"/>
    <bean id="tokenInterceptor" class="com.thoughtworks.go.server.web.TokenInterceptor" autowire="autodetect"/>
    <bean id="flashMessageInterceptor" class="com.thoughtworks.go.server.web.FlashMessageInterceptor"/>

    <import resource="tabs/mycruise-tab.xml"/>

    <bean id="systemEnvironment" class="com.thoughtworks.go.util.SystemEnvironment"/>
</beans>
