#*************************GO-LICENSE-START*********************************
 * Copyright 2014 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *************************GO-LICENSE-END***********************************#

<textarea rows="0" cols="0" style="display: none" id="build-plan-partial">
<form action="" method="post" id="add-or-edit-buildplan">
    <div>
        <label>Name:</label>
        <input type="text" id="buildplan.name" value="" />
    </div>

    <div>
        <label>Resources: <a href="javascript:void(0)">Add Resource</a></label>
        <input type="text" id="buildplan.resources" value="" />
    </div>

    <div>
        <label>Artifacts: <a href="javascript:void(0)">Add Artifact</a></label>
        <ul>
            <li>
                <p>
                    <label>Type:</label>
                    <select class="artifact.type">
                        <option>Log</option>
                        <option>Artifac</option>
                        <option>Test</option>
                    </select>
                </p>
                <p>
                    <label>Source:</label>
                    <input type="text" class="source" value="" size="30" />
                </p>
                <p>
                    <label>Destination:</label>
                    <input type="text" class="destination" value="" size="30" />
                </p>
            </li>
        </ul>
    </div>
    <div>
        <label>Task: <a href="javascript:void(0)">Aadd Task</a></label>
        <ul>
            <li>
                <p>
                    <label>Type:</label>
                    <select class="task.type">
                        <option>Ant</option>
                        <option>Exec</option>
                        <option>Rake</option>
                        <option>Nant</option>
                    </select>
                </p>
                <div class="exec">
                    <p>
                        <label>Timeout:</label>
                        <input type="text" class="timeout" value="" size="30" />
                    </p>

                    <p>
                        <label>Command</label>
                        <input type="text" class="command" value="" size="30" />
                    </p>
                    <p>
                        <label>Args:</label>
                        <input type="text" class="args" value="" size="30" />
                    </p>
                    <p>
                        <label>WorkingDIR:</label>
                        <input type="text" class="workingdir" value="" size="30" />
                    </p>
                </div>
                <div class="nant">
                    <p>
                        <label>Nantpath:</label>
                        <input type="text" class="nantpath" value="" size="30" />
                    </p>
                    <p>
                        <label>Buildfile:</label>
                        <input type="text" class="buildfile" value="" size="30" />
                    </p>
                    <p>
                        <label>Target</label>
                        <input type="text" class="target" value="" size="30" />
                    </p>
                    <p>
                        <label>WorkingDIR:</label>
                        <input type="text" class="workingdir" value="" size="30" />
                    </p>
                </div>
                <div class="ant">
                    <p>
                        <label>Antpath:</label>
                        <input type="text" class="nantpath" value="" size="30" />
                    </p>
                    <p>
                        <label>Buildfile:</label>
                        <input type="text" class="buildfile" value="" size="30" />
                    </p>
                    <p>
                        <label>Target</label>
                        <input type="text" class="target" value="" size="30" />
                    </p>
                    <p>
                        <label>WorkingDIR:</label>
                        <input type="text" class="workingdir" value="" size="30" />
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
</textarea>