#*************************GO-LICENSE-START*********************************
 * Copyright 2014 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *************************GO-LICENSE-END***********************************#

<div id="tab-content-of-source-xml" $configuration_extra_attrs>
    <div class="buttons-group">
        <a id="edit_config" class="link_as_button primary" href="#"><span>EDIT</span></a> 
        <a id="save_config" class="link_as_button primary" style="display:none" href="#"><span>SAVE</span></a>
        <a id="cancel_edit" class="link_as_button" style="display:none" href="#"><span>CANCEL</span></a>
    </div>
    <div class="config_path_title">
        <h1>
            <span>Configuration File Path:</span><span class="wbrSensitive">$!location</span>
        </h1>
    </div>
##    <h1><span>Configuration File Content</span></h1>

    <div class="content_wrapper_outer"><div class="content_wrapper_inner">
    <div class="admin_holder" id="admin-holder-for-admin-config-source-xml">
        <form action="" id="config_editor_form" method="post">
            <input type="hidden" name="active" value="configuration"/>
            <div id="content_area">
                #if($errorMessage && $errorMessage != "")
                <textarea style="display:none" id='content' rows='40' cols='300'>${content}</textarea>
                <textarea id='editing_content' name='configFileContent' rows='40' cols='300'>${editing_content}</textarea>
                <input type="hidden" name="configMd5" id="editingConfigMd5" value="${editing_md5}"/>
                #else
                <pre id="content_container" class="wrap_pre">
$esc.html(${content})
                </pre>
                #end
            </div>

            #if($errorMessage && $errorMessage != "")
            <script type="text/javascript">
                FlashMessageLauncher.error("$esc.javascript("$errorMessage")" + " <a target='_blank' href='/go/help/configuration_reference.html'>Help Topic: Configuration</a>", null, true);
                $('content').value = "$esc.javascript(${content})"
                $('editing_content').value = "$esc.javascript(${editing_content})"
            </script>
            #end
        </form>
    </div>
    </div></div>
</div>
