#*************************GO-LICENSE-START*********************************
 * Copyright 2014 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *************************GO-LICENSE-END***********************************#

## layout level variable
#set ($title = "Server Details - Go")
#set($extra_css_list = ['admin-tab', 'sub_tab'])
## page level variable
#set($_hide_collapse-sidebar-button = true)
#set($_page_title="Server Details")
#parse("shared/_header.vm")

<script type="text/javascript">var noErrorLog = true;</script>
<div id="yui-main">
    <div class="yui-b" id="server-page">
        #if(${success_message})
            #parse('shared/_flash_success.vm')
        #end
        #if(${errorMessage})
            #parse('shared/_flash_error.vm')
        #end
        <!-- breadcrumbs -->
        #set($current_page="no-crumbs")
        #parse("shared/_breadcrumbs.vm")
        <!-- /breadcrumbs -->

        #parse("shared/_page_intro_top.vm")
        <p>This view shows basic configuration information for Go Server.
            Administrators can also manage the license information from here.
            <a href="$req.getContextPath()/help/server_details_page.html" title="Learn more from help documentation" target="_blank" class="more">more...</a>
        </p>
        #parse("shared/_page_intro_bottom.vm")


        <div id="build-status-panel" class="bd-container rounded-corner-for-pipeline">
            <div id="content-of-about">
                <h1>Server Info</h1>                

                <table id="server-details-table">
                    <tbody>
                        <tr class="odd">
                            <td>Go Server Version:</td>
                            <td class="value_column">#include("admin/admin_version.txt.vm")</td>
                        </tr>
                        <tr class="even">
                            <td>JVM version:</td>
                            <td class="value_column">$!{jvm_version}</td>
                        </tr>
                        <tr class="odd">
                            <td>OS Information:</td>
                            <td class="value_column">$!{os_info}</td>
                        </tr>
                        <tr class="even">
                            <td>Usable space in artifacts repository:</td>
                            <td class="value_column">$!{available_space} Mb</td>
                        </tr>
                        <tr class="odd">
                            <td>Database schema version: </td>
                            <td class="value_column">$!{schema_version}</td>
                        </tr>
                    </tbody>
                </table>
            </div>



            <div id="content-of-about-us">
                <h1>Go Team</h1>

                <h3>Past and present members</h3>
                <p>These people are, or have been, part of the Go team (in alphabetical order).</p>
                <p>
                    Anandha Krishnan,
                    Anush Ramani,
                    Aravind Shimoga Venkatanaranappa,
                    Arika Goyal,
                    Bobby Norton,
                    Chad Wathington,
                    Chris Read,
                    Chris Stevenson,
                    Chris Turner,
                    Deepthi G Chandramouli,
                    Gao Li,
                    Gilberto Medrano,
                    H&#229;kan R&#229;berg,
                    Hu Kai,
                    Janmejay Singh,
                    Jef Bekes,
                    Jenny Wong,
                    Jez Humble,
                    Joe Monahan,
                    Jon Tirsen,
                    Junaid Shah,
                    Jyoti Singh,
                    Li Guanglei,
                    Li Yanhui,
                    Luke Barrett,
                    Manish Pillewar,
                    Marco Abis,
                    Mark Chang,
                    Maulik Suchak,
                    Md Ali Ejaz,
                    Nandhakumar Ramanathan,
                    Pavan K Sudarshan,
                    Praveen D Shivanagoudar,
                    Prince M Jain,
                    Princy James,
                    Qiao Liang,
                    Qiao Yandong,
                    Qin Qihui,
                    Raghunandan Ramakrishna Rao,
                    Raghuram Bharathan,
                    Rajesh Muppalla,
                    Rajeshvaran Appasamy,
                    Ricky Lui,
                    Sachin Sudheendra,
                    Santosh G Hegde,
                    Sara Paul,
                    Sharanya Bathey,
                    Shilpa Goley,
                    Shilpa Nukala,
                    Shweta Sripathi Bhat,
                    Sreekanth Vadagiri,
                    Srikanth Seshadri,
                    Srinivas Upadhya,
                    Sriram Narayan,
                    Tian Yue,
                    Vinay Dayananda,
                    Vipul Garg,
                    Xu Wei,
                    Yang Hada,
                    Yogi Kulkarni,
                    Zhao Bing.
                </p>

                <h3>Go contributors</h3>
                <p>These people have contributed code, ideas, time or energy (in alphabetical order).</p>
                <p>
                    Adam Monago,
                    Ajey Gore,
                    Anju Antony,
                    Barrow Kwan,
                    Biju Philip Chacko,
                    Chris Briesemeister,
                    Cyndi Mitchell,
                    David Rice,
                    Dipankar Gupta,
                    Dheeraj Reddy,
                    Erik Doernenburg,
                    Huang Liang,
                    Jason Pfetcher,
                    Jason Yip,
                    Jayne Barnes,
                    John Guerriere,
                    Julian Simpson,
                    Julias Shaw,
                    Li Mo,
                    Liu Yao,
                    Martin Fowler,
                    Megan Folsom,
                    Michael Robinson,
                    Paul Julius,
                    Praveen Asthagiri,
                    Nagarjun K,
                    Naresh Kapse,
                    Ram Narayanan,
                    Rene Medellin,
                    Risha Mathias,
                    Roy Singham,
                    Rupesh Kumar,
                    Sam Newman,
                    Sudhir Tiwari,
                    Tim Reaves,
                    Tom Sulston,
                    Wang Ji,
                    Wang Xiaoming,
                    Zhang Lin,
                    and the many people who have contributed code to the OSS CruiseControl project.
                </p>
            </div>
        </div>
    </div>
    <!-- end yui-b -->
</div></div>
#parse("shared/_footer.vm")
