#*************************GO-LICENSE-START*********************************
 * Copyright 2014 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *************************GO-LICENSE-END***********************************#

#set($current_tab='Administration')
#set($extra_css_list = ['admin-tab', 'sub_tab'])
#set($_page_title=$current_tab)
#set($_hide_collapse-sidebar-button = true)
#parse("shared/_header.vm")
<script type="text/javascript">
    Event.observe(window, 'load', function() {
        window.tabsManager = new TabsManager(undefined, 'admin', 'key');
    });
</script>
<div id="yui-main">
    <div class="yui-b" id="admin-page">
        <!-- breadcrumbs -->
        #set($current_page="no-crumbs")
        #parse("shared/_breadcrumbs.vm")
        <!-- /breadcrumbs -->

        #parse("shared/_page_intro_top.vm")
        <p>This page gives administrators the ability to manage and configure Go Server,
            including the means to change security as well as add and edit pipelines, stages, and jobs.
            <a href="$req.getContextPath()/help/administration_page.html" target="_blank" title="Learn more from help documentation" class="more">more...</a>
        </p>
        #parse("shared/_page_intro_bottom.vm")

        #if(${success_message})
            #parse('shared/_flash_success.vm')
        #end

        #set($configuration_css_class="")
        #set($server_configuration_css_class="")
        #set($about_css_class="current_tab")

        #set($configuration_extra_attrs="style='display:none'")
        #set($server_configuration_extra_attrs="style='display:none'")
        #set($about_extra_attrs="")

        #set($about_css_class="")
        #set($server_configuration_css_class="")
        #set($configuration_css_class="current_tab")

        #set($about_extra_attrs="style='display:none'")
        #set($server_configuration_extra_attrs="style='display:none'")
        #set($configuration_extra_attrs="")

        #if ($configuration_validity == false)
            #set($warningMessage=$l.localize("INVALID_CONFIG_ON_DISK"))
            #parse("shared/_flash_warning.vm")
        #end

        <div class="bd-container rounded-corner-for-pipeline admin-rounded-container">
            <b class="c1"></b><b class="c2"></b><b class="c3"></b><b class="c4"></b>

            <div class="sub_tab_container rounded-corner-for-tab-container">
                <b class="c1"></b><b class="c2"></b><b class="c3"></b><b class="c4"></b>

                <div class="sub_tabs_container">
                    <ul>
                        <li id="pipeline-groups-tab-button" class="$server_configuration_css_class external_pointing" onclick="location.href = '/go/admin/pipelines';">
                            <a class="tab_button_body_match_text">pipeline-groups</a>
                            <a>${l.localize("PIPELINES_POPUP_TITLE")}</a>
                        </li>
                        #if($userHasAdministratorRights)
                            <li id="templates-tab-button" class="$server_configuration_css_class external_pointing" onclick="location.href = '/go/admin/templates';">
                                <a class="tab_button_body_match_text">templates</a>
                                <a>${l.localize("TEMPLATES")}</a>
                            </li>
                            <li id="source-xml-tab-button" class="$configuration_css_class external_pointing" onclick="location.href = '/go/admin/config_xml';">
                                <a class="tab_button_body_match_text">source-xml</a>
                                <a>Config XML</a>
                            </li>
                            <li id="server-configuration-tab-button" class="$server_configuration_css_class external_pointing" onclick="location.href = '/go/admin/config/server';">
                                <a class="tab_button_body_match_text">server-configuration</a>
                                <a>Server Configuration</a>
                            </li>

                            <li id="user-summary-tab-button" class="$server_configuration_css_class external_pointing" onclick="location.href = '/go/admin/users';">
                                <a class="tab_button_body_match_text">user-summary</a>
                                <a>User Summary</a>
                            </li>

                            <li id="oauth-clients-tab-button" class="$server_configuration_css_class external_pointing" onclick="location.href = '/go/oauth/admin/clients';">
                                <a class="tab_button_body_match_text">oauth-clients</a>
                                <a>OAuth Clients</a>
                            </li>

                            <li id="gadget-providers-tab-button" class="$server_configuration_css_class external_pointing" onclick="location.href = '/go/admin/gadgets/oauth_clients';">
                              <a class="tab_button_body_match_text">gadgets-providers</a>
                              <a>OAuth Enabled Gadget Providers</a>
                            </li>
                            <li id="backup-tab-button" class="$server_configuration_css_class external_pointing" onclick="location.href = '/go/admin/backup';">
                                <a class="tab_button_body_match_text">backup</a>
                                <a>Backup</a>
                            </li>
                        #end
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="sub_tab_container_content">
                    #if($userHasAdministratorRights)
                    #parse("admin/_admin_configuration_source_xml.vm")
                #end
                </div>
            </div>
        </div>
    </div>
    <!-- end yui-b -->
</div>
</div>
<!-- end bd -->
<script type="text/javascript">
    var adminPage = new AdminPage();
</script>
#parse("shared/_footer.vm")
