#*************************GO-LICENSE-START********************************
# Copyright 2014 ThoughtWorks, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or a-qgreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#*************************GO-LICENSE-END**********************************

manual-testing/multiple/wd
manual-testing/multiple/project1-wd
.svn
.DS_Store

agent-bootstrapper/testdata/agent-launcher.jar
agent-bootstrapper/testdata/test-agent.jar
server/testdata/test-agent.jar
server/go-plugins.zip
server/agent-launcher.jar
server/testdata/agent-launcher.jar
agent-launcher/testdata/test-agent.jar
agent/testdata/test-agent.jar
agent-bootstrapper/.tmp.file.list
agent-bootstrapper/agent-plugins.zip
agent/agent-plugins.zip
agent/agent.jar
server/extracted-dependencies
agent-bootstrapper/extracted-dependencies

.emacs_project
cce_*.log
cruise-server.log
db/hsqldb.zip
db/h2db.zip
db/config.git

server/db/migrate/generated
server/db/hsqldb/cruise.*
server/db/h2db
server/db/deltas
server/db/h2deltas
server/db/postgresql
server/db/pgsqldeltas
server/db/config.git
server/jsunit/logs
server/*.log
server/pipelines

localivy/cruisecontrol
localivy/h2/*-sources.jar
localivy/common
localivy/util
localivy/test-utils
localivy/agent
localivy/agent-bootstrapper
localivy/upgrade

common/logs
server/tdb
server/webapp/WEB-INF/rails/tdb
cruise-*.properties
testkeystore
*.swp
*~
server/jsunit/tests/sample.json
helper/build
helper/resources/images/screenshots.graffle/QuickLook
*.log
*.pid
manual-testing/ant_hg/dummy
manual-testing/ant_hg/second
manual-testing/multiple/repo
manual-testing/multiple/project1
manual-testing/bjcruise/h2db
common/config/guid.txt
common/pipelines/pipeline1/cruise-output/log.xml
common/run-ant.ser
test.sh
Thumbs.db
server/lucene.index
*.pyc
performance/profiler/out/*
performance/ec2/cruise-perf/*.jar
performance/ec2/tmp/*
performance/config/cruise-config.xml
._*
.smell_cache.yaml
TAGS
spike/twist-detector/out
cruise-twist-new/bin
tools/jes-2.0-beta2/logs
tools/jes-2.0-beta2/conf.run
tools/jes-2.0-beta2/nohup.out

server/webapp/javascripts/shine.js

**/.rakeTasks
server/webapp/WEB-INF/rails/vendor/plugins/shine
server/webapp/WEB-INF/rails/historical_jars
server/webapp/WEB-INF/rails/db/config.git

server/webapp/WEB-INF/rails.new/vendor/**
server/webapp/WEB-INF/rails.new/historical_jars
server/webapp/WEB-INF/rails.new/db/config.git
server/webapp/WEB-INF/rails.new/config/cipher

server/config/agentkeystore
server/config/keystore
server/config/shine_store.jks
server/config/truststore
server/config/cruise-config.xml.*
server/config/go.feature.toggles
server/db/shine/cache
rack_hack/projectFilesBackup/*
agent/config/agent.jks
agent/config/trust.jks
agent/pipelines
server/config/shine_truststore.jks
**/config/gadget_truststore.jks
server/db/shine/rdf-files
server/logs/
server/go-server.log*
server/webapp/stylesheets/patterns/patterns.css
server/webapp/stylesheets/plugins/plugins.css
server/webapp/stylesheets/views/views.css
server/webapp/stylesheets/vm/vm.css
server/webapp/stylesheets/all.css
performance/scripts/output*
performance/output/
performance/config/cruise-config.xml.template
performance/metrics/output/
performance/metrics/test_db/cruise.trace.db
performance/metrics/target/
performance/config/approved-agents.xml
performance/process_status
server/webapp/WEB-INF/rails/.er/ignores
server/webapp/WEB-INF/rails/tmtags
server/felix-cache
server/config/go-luau-key-store.jks
server/config/go-luau-trust-store.jks
agent/go-agent*log*
server/config/cruise-config.xml.invalid.*
felix-cache
job_version_file
server/webapp/WEB-INF/rails/vendor/plugins/luau/target
server/webapp/WEB-INF/rails/tmp
server/db/command_repository
nohup.out
go-command-repo/
server/webapp/stylesheets/css_sass/
*.scssc
agent/config
reports/
junitvmwatcher*.properties
config/target/
tw-go-plugins/dist/*
server/plugins_bundles/*
server/plugins-new/*
server/plugins/*
server/plugins_work/*
config/cipher
localivy/postgresql/postgresql-jdbc-9.2-1003.src/
*.sassc
config/config-server/config/
server/descriptor-aware-test-plugin.jar/
sample-plugins/built-plugins/*
sample-plugins/go-plugin-api/*
sample-plugins/sample_plugin.keystore
server/webapp/test_out/*
agent/plugins/*
agent/plugins_work/*
agent/log4j.properties
plugin-infra/plugins/out
plugin-infra/sample-plugins/built-plugins/
plugin-infra/sample-plugins/go-plugin-api/
plugin-infra/sample-plugins/sample_plugin.keystore
plugin-infra/sample-plugins/out/

# target
/target
addon-api/database/target/
addon-api/licensing/target/
addon-api/target/*
agent-common/target/
test-agent/target/
config/config-api/target/
config/config-server/target/
db/target/
metrics/target/
test-utils/target/
util/target/
tfs-impl/target/
common/target/
agent-bootstrapper/target
agent-launcher/target/
agent/target/
server/target/
base/target/
server/webapp/WEB-INF/classes/
server/addons/
rack_hack/target
development-utility/target/
server-launcher/target/

# intellij
.idea/
intellij-out/
*.ipr
*.iml
*.iws

# eclipse
.settings/
.classpath
.project

server/webapp/WEB-INF/rails/spec/javascripts/test_out/*
server/webapp/WEB-INF/rails/spec/javascripts/node_modules/*
**/*/target/*
server/webapp/WEB-INF/rails.new/public/assets/*
server/webapp/WEB-INF/rails.new/config/cipher
