<div class="page_header">
    <ul class="entity_title">
        <li><%= link_to l.string("TEMPLATES"), templates_path -%></li>
        <li class='last'><h1 class='wrapped_word'><%= @pipeline.name() -%> </h1></li>
    </ul>
</div>