{
    "ciphers": {
        "includes": [
            "STRONG_CIPHER"
        ],
        "excludes": [
            "WEAK_CIPHER"
        ]
    },
    "protocols": {
        "includes": [
            "STRONG_PROTOCOL"
        ],
        "excludes": [
            "WEAK_PROTOCOL"
        ]
    },
    "renegotiationAllowed": "false"
}