{
    "ciphers": {
        "includes": [
            "TLS_DHE_RSA.*",
            "TLS_ECDHE.*"
        ],
        "excludes": [
            ".*NULL.*",
            ".*RC4.*"
        ]
    },
    "protocols": {
        "includes": [
            "TLSv1.2"
                ],
        "excludes": [
            "SSLv3",
            "SSLv1"
        ]
    },
    "renegotiationAllowed": "true"
}