{
  "presets": [
    [
      "stage-2"
    ],
    [
      "env",
      {
        "debug": true,
        "targets": {
          "browsers": [
            "> 0.5%",
            "last 2 versions",
            "Firefox ESR",
            "not IE > 0",
            "not IE_Mob > 0",
            "not BlackBerry > 0",
            // see http://browserl.ist/?q=defaults and https://github.com/ai/browserslist#queries
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "debug": true,
        "pragma": "m"
      }
    ],
    "transform-class-properties"
  ]
}
