<div class="users">
    <label><%= l.string("USERS") -%></label>
    <%= render :partial => "edit_user_or_role.html", :locals => {:scope => {:stage => scope[:stage],
                                                                            :form => scope[:form],
                                                                            :collection => scope[:user_collection],
                                                                            :field_name => com.thoughtworks.go.config.StageConfig::OPERATE_USERS,
                                                                            :id_prefix => "user",
                                                                            :autocomplete_suggestions => @autocomplete_users}} %>
</div>
<div class="roles">
    <label><%= l.string("ROLES") -%></label>
    <%= render :partial => "edit_user_or_role.html", :locals => {:scope => {:stage => scope[:stage],
                                                                            :form => scope[:form],
                                                                            :collection => scope[:role_collection],
                                                                            :field_name => com.thoughtworks.go.config.StageConfig::OPERATE_ROLES,
                                                                            :id_prefix => "role",
                                                                            :autocomplete_suggestions => @autocomplete_roles}} %>
</div>