<td class="name_value_cell">
  <%= scope[:var_form].text_field "source", :class => "form_input artifact_source", :id => nil -%>
</td>
<td class="name_value_cell">
  <%= scope[:var_form].text_field "destination", :class => "form_input artifact_destination", :id => nil -%>
</td>
<td class="name_value_cell">
  <span class="icon_remove delete_parent"></span>
</td>