<thead>
<tr>
  <th><h4 class="type">Type</h4>
    <span class="contextual_help has_go_tip_right" title="When 'Test Artifact' is selected, Go will use this artifact to generate a test report. Test information is placed in the Failures and Test sub-tabs. Test results from multiple jobs are aggregated on the stage detail pages. This allows you to see the results of tests from both functional and unit tests even if they are run in different jobs."></span>
  </th>
  <th><h4 class="src">Source</h4>
    <span class="contextual_help has_go_tip_right" title="The file or folders to publish to the server. Go will only upload files that are in the working directory of the job. You can use wildcards to specify the files and folders to upload (** means any path, * means any file or folder name)."></span>
  </th>
  <th><h4 class="dest">Destination</h4>
    <span class="contextual_help has_go_tip_right" title="The destination is relative to the artifacts folder of the current instance on the server side. If it is not specified, the artifact will be stored in the root of the artifacts directory"></span>
  </th>
  <th>&nbsp;</th>
</tr>
</thead>