<div class="row expanded">
  <div class="columns medium-3 large-3"><h4 class="type">Type</h4>
    <span class="contextual_help has_go_tip_right" title="There are 3 types of artifacts - build, test and external. When 'Test Artifact' is selected, Go will use this artifact to generate a test report. Test information is placed in the Failures and Test sub-tabs. Test results from multiple jobs are aggregated on the stage detail pages. This allows you to see the results of tests from both functional and unit tests even if they are run in different jobs. When artifact type external is selected, you can configure the external artifact store to which you can push an artifact."></span>
  </div>
  <div class="columns medium-3 large-3"><h4 class="src">Artifact ID</h4>
    <span class="contextual_help has_go_tip_right" title="This id is used to identify the artifact that is pushed to an external store. The id is used later in a downstream pipeline to fetch the artifact from the external store."></span>
  </div>
  <div class="columns medium-3 large-3 end"><h4 class="dest">Artifact Store ID</h4>
    <span class="contextual_help has_go_tip_right" title="This is a reference to the global artifact store defined in the config. At the time of publishing the artifact to an external store, the plugin makes use of the global properties associated with this store id."></span>
  </div>
</div>