#*
 * Copyright 2021 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#macro( messages $id $messageList $headerTag $headerId)
    #if ($messageList.size() > 0)
        <$headerTag id="$id-header">Messages ($messageList.size())</$headerTag>
        <p class="messages" id="$id">
            #foreach( $message in $messageList )
                <span class="$message.level">$message</span><br/>
            #end
        </p>
    #end
#end
<div id="build_history_holder" class="sidebar-container">
    <h4 class="entity_title dropdown-arrow-icon" data-toggle='dropdown'>Job History</h4>
    <div id="buildlist-container" class="round-content">
        #if($presenter.recent25.size() == 0)
            <p class="text-only">No jobs found.</p>
        #end
        <ul class="buildlist dropdown-menu">
            #foreach( $listPresenter in $presenter.recent25 )
            <li id="build_list_${velocityCount}" #if($listPresenter.isSame($presenter.id)) class="current" #end >
                <a href="$req.getContextPath()/tab/build/detail/${listPresenter.buildLocator}">
                    #if($listPresenter.copy)
                    <div class="color_code_small copied_job"></div>
                    #else
                    <div class="color_code_small"></div>
                    #end
                <strong>${listPresenter.buildLocatorForDisplay}</strong>
                <div class="time_ago" data="${listPresenter.scheduledTime}"></div>

                </a>
                <!-- should be ${listPresenter.tabToShow} -->
            </li>
            #end
        </ul>
    </div>
    <script type="text/javascript">
    #foreach( $listPresenter in $presenter.recent25 )
        json_to_css.update_build_list(eval(${listPresenter.toJsonString()}), ${velocityCount}, "$req.getContextPath()/$concatenatedStageBarCancelledIconFilePath");
    #end

      jQuery(function() {
          jQuery(".buildlist .time_ago").each(function(idx, timeSpan) {
            var timestamp = parseInt(jQuery(timeSpan).attr("data"));
            if (isNaN(timestamp)) return;
            var time = new Date(timestamp);
            jQuery(timeSpan).text(moment(time).format('DD MMM YYYY [at] HH:mm:ss [Local Time]'));
          });
        });
    </script>
</div>
