<div class="pipeline_instance_details">
    <div class="schedule_time" title="Server Time: <%= scope[:active_pipeline_in_pipeline].getScheduledDate().to_long_display_date_time%>">
        <% if scope[:active_pipeline_in_pipeline].class != com.thoughtworks.go.presentation.pipelinehistory.PreparingToScheduleInstance -%>
          <%== trigger_message(scope[:active_pipeline_in_pipeline].getScheduledDate(), scope[:active_pipeline_in_pipeline]) -%>
          <span class='time' data="<%= scope[:active_pipeline_in_pipeline].getScheduledDate().getTime()%>"></span>
        <% end -%>
    </div>
    <%= render :partial=> 'shared/stage_bar.html', :locals => {:scope =>{:pipeline => scope[:active_pipeline_in_pipeline],
                                                                         :total_width => 20.0,
                                                                         :rendering_gadget => scope[:rendering_gadget] }} %>
</div>
