<% scope[:rendering_gadget] ||= false %>

<span class="pipeline_run_label">Run:<%
       #check to see if we are currently waiting on scheduling (aka loading)
       if scope[:active_pipeline_in_pipeline].getLabel() == 'TBD' -%>
        <img src="<%=image_path('new/ajax_loader_small.gif')%>" alt="Scheduling..."/>
    <% else -%>
        <%= truncate(scope[:active_pipeline_in_pipeline].getLabel(), :length => 40) -%>
    <% end -%>
</span>
