<footer class="footer">
    <div class="row">
        <div class="small-12 medium-6 large-8 columns">
            <p class="copywrite">Copyright &copy; 2015
                <a href="http://www.thoughtworks.com/products" target='_blank'>ThoughtWorks, Inc.</a>
                Licensed under <%= link_to('Apache License, Version 2.0', "http://www.apache.org/licenses/LICENSE-2.0", :target => '_blank') -%>.<br/>
                Go includes <%= link_to('third-party software', url_for_path('NOTICE/cruise_notice_file.pdf'), :target => '_blank') -%>.
                Go Version: <%= version %>.
            </p>

        </div>
        <div class="small-12 medium-6 large-4 columns">
            <span class="inline-list social">
                <a href="http://twitter.com/goforcd" class="twitter"></a>
                <a href="https://github.com/gocd/gocd" class="github"></a>
                <a href="https://groups.google.com/d/forum/go-cd" class="forums"></a>
                <a href="https://go.cd/current/documentation" class="documentation"></a>
                <a href="https://go.cd/current/cctray" class="plugins"></a>
                <a href="https://go.cd/current/documentation" class="cctray"></a>
            </span>
        </div>
    </div>
</footer>
