<nav class="top-bar navigation" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <a href="#" class="logo"></a>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
        <li class="has-dropdown">
            <a href="#" class="user">admin</a>
            <ul class="dropdown">
                <li><a href="#">Preferences</a></li>
                <li><a href="#">Sign out</a></li>
            </ul>
        </li>
    </ul>
    <ul class="left">
      <li class="active" ><a href="#">Pipeline</a></li>
      <li><a href="#">Environments</a></li>
      <li><a href="#">Agents</a></li>
      <li class="has-dropdown not-click">
          <a href="#">Admin</a>
          <ul class="dropdown">
              <li><a href="#">Pipelines</a></li>
              <li class="active"><a href="#">Templates</a></li>
              <li><a href="#">Config XML</a></li>
              <li><a href="#">Server Configuration</a></li>
              <li><a href="#">User Summary</a></li>
              <li><a href="#">OAuth Clients</a></li>
              <li><a href="#">OAuth Enabled Gadget Providers</a></li>
              <li><a href="#">Backup</a></li>
              <li><a href="#">Plugins</a></li>
              <li><a href="#">Package Repositories</a></li>
          </ul>
      </li>
    </ul>
  </section>
</nav>
