.flash
	background: #DCEFFB

	a
		color: #6698ff
		&:hover
			color: #8ab0ff

	p
		font-size: 12px
		color: #777777
		font-weight: bold
		background: image_url('andare/ico-16x16-alerts.png') no-repeat scroll 10px 6px
		padding: 7px 10px 7px 36px
		line-height: 16px
		&.warning
			background: image_url('andare/ico-16x16-alerts.png') no-repeat scroll 10px -94px #FBF3DC
		&.error
			background: image_url('andare/ico-16x16-alerts.png') no-repeat scroll 10px -194px #F8D1D8
		&.success
			background: image_url('andare/ico-16x16-alerts.png') no-repeat scroll 10px -294px #DAEFC8

.warnings, .information
	border-radius: 3px
	-moz-border-radius: 3px
	-webkit-border-radius: 3px
	border: 1px solid rgba(0, 0, 0, 0.1)
	color: #777777
	font-size: 12px
	font-weight: bold
	margin: 10px
	padding: 7px 10px 7px 36px
	line-height: 16px
	display: block
	background-repeat: no-repeat
	background-image: image_url('andare/ico-16x16-alerts.png')

.warnings
	background-position: 10px -94px
	background-color: #FBF3DC

.information
	background-position: 10px 6px
	background-color: #DCEFFB
