<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2019 ThoughtWorks, Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
       default-init-method="init">

  <context:annotation-config/>

  <context:component-scan base-package="com.thoughtworks.go.apiv1.jobinstance"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv2.stageoperations"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.pipelineinstance"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.agentjobhistory"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv3.rolesconfig"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv2.securityauthconfig"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.packages"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.packagerepository"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv2.materials"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.compare"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.featuretoggles"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv10.admin.pipelineconfig"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.defaultjobtimeout"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.artifactconfig"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv5.admin.templateconfig"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.serversiteurlsconfig"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv2.scms"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.internalpipelinestructure"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.internalenvironments"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.mailserver"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.internalresources"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.internalcommandsnippets"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv6.agents"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.backupconfig"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.pipelinesascodeinternal"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.pluginsettings"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.securityauthconfig"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv4.dashboard"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.materials"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv6.plugininfos"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv2.configrepos"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv7.admin.pipelineconfig"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv8.admin.pipelineconfig"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv9.admin.pipelineconfig"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.dependencymaterialautocomplete"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.scms"/>
  <context:component-scan base-package="com.thoughtworks.go.api.support"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.secretconfigs"/>
  <context:component-scan base-package="com.thoughtworks.go.api.cctray"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv2.backups"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.clusterprofiles"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.accessToken"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv3.environments"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv2.adminsconfig"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv2.rolesconfig"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv3.users"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv3.dashboard"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.export"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.elasticprofileoperation"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.usersearch"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.servermaintenancemode"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.version"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.configrepooperations"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv2.elasticprofile"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.admin.security"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.adminsconfig"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.admin.encryption.spring"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.pipelineoperations"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.stageoperations"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.currentuser"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.admin.backups"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.serverhealthmessages"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.triggerwithoptionsview"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.materialsearch"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.pipelineselection"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.buildcause"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.artifactstoreconfig"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv6.admin.pipelineconfig"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.datasharing.settings"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv2.datasharing.reporting"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv3.datasharing.usagedata"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv4.admin.templateconfig"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.serverhealth"/>
  <context:component-scan base-package="com.thoughtworks.go.apiv1.admin.pipelinegroups"/>

  <context:component-scan base-package="com.thoughtworks.go.api.spring"/>
  <context:component-scan base-package="com.thoughtworks.go.api.pluginimages"/>
  <context:component-scan base-package="com.thoughtworks.go.spark.spring"/>
  <context:component-scan base-package="com.thoughtworks.go.spark.spa.spring"/>

  <context:component-scan base-package="com.thoughtworks.go.util"/>
  <context:component-scan base-package="com.thoughtworks.go.serverhealth"/>
  <context:component-scan base-package="com.thoughtworks.go.domain"/>
  <context:component-scan base-package="com.thoughtworks.go.service"/>
  <context:component-scan base-package="com.thoughtworks.go.server.sweepers"/>
  <context:component-scan base-package="com.thoughtworks.go.server.cache"/>
  <context:component-scan base-package="com.thoughtworks.go.server.service"/>
  <context:component-scan base-package="com.thoughtworks.go.server.perf"/>
  <context:component-scan base-package="com.thoughtworks.go.server.service.support"/>
  <context:component-scan base-package="com.thoughtworks.go.plugins"/>
  <context:component-scan base-package="com.thoughtworks.go.config.registry"/>
  <context:component-scan base-package="com.thoughtworks.go.server.search"/>
  <context:component-scan base-package="com.thoughtworks.go.server.messaging"/>
  <context:component-scan base-package="com.thoughtworks.go.server.util"/>
  <context:component-scan base-package="com.thoughtworks.go.server.scheduling"/>
  <context:component-scan base-package="com.thoughtworks.go.server.cronjob"/>
  <context:component-scan base-package="com.thoughtworks.go.server.materials"/>
  <context:component-scan base-package="com.thoughtworks.go.server.persistence"/>
  <context:component-scan base-package="com.thoughtworks.go.server.web"/>
  <context:component-scan base-package="com.thoughtworks.go.server.websocket"/>
  <context:component-scan base-package="com.thoughtworks.go.remote"/>
  <context:component-scan base-package="com.thoughtworks.go.config"/>
  <context:component-scan base-package="com.thoughtworks.go.presentation"/>
  <context:component-scan base-package="com.thoughtworks.go.server.initializers"/>
  <context:component-scan base-package="com.thoughtworks.go.server.valuestreammap"/>
  <context:component-scan base-package="com.thoughtworks.go.server.dashboard"/>
  <context:component-scan base-package="com.thoughtworks.go.plugin.access"/>
  <context:component-scan base-package="com.thoughtworks.go.server.newsecurity"/>
  <context:component-scan base-package="com.thoughtworks.go.server.security"/>

  <import resource="velocity-config.xml"/>
  <import resource="applicationContext-plugin-infra.xml"/>

  <!--enable Spring support for configuring Spring AOP based on @AspectJ aspects-->
  <aop:aspectj-autoproxy>
  </aop:aspectj-autoproxy>

  <!--OVERRIDE THE SPRING ADAPTERS STARTS-->

  <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
    <property name="supportedMethods">
      <list>
        <value>POST</value>
        <value>GET</value>
        <value>PUT</value>
        <value>HEAD</value>
      </list>
    </property>
    <property name="alwaysUseFullPath" value="true"/>
  </bean>
  <bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/>
  <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
  <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
  <bean class="com.thoughtworks.go.server.web.AnnotatedExceptionResolver"/>
  <!--END OVERRIDE THE SPRING ADAPTERS-->

  <bean id="configRepositoryValidatorService"
        class="com.thoughtworks.go.config.validation.ConfigRepositoryValidatorService" autowire="autodetect"
        lazy-init="false"/>

  <bean id="schedulerFactory" class="org.quartz.impl.StdSchedulerFactory"/>
  <bean id="scheduler" factory-bean="schedulerFactory" factory-method="getScheduler" class="org.quartz.Scheduler"
        init-method="start" scope="singleton"/>

  <bean class="com.thoughtworks.go.server.domain.PipelineTimeline" name="pipelineTimeline" lazy-init="true"
        autowire="autodetect"/>
</beans>
