<%- @view_title = "Config Error" -%>
<%= content_wrapper_tag %>
<div class='pagenotfound'>
  <div class="errors">
    <div class='biggest'>:(</div>
    <h3>Failed to load status report</h3>
    <span style="display:block;width: 500px;text-align: justify;margin: auto"><%= @message -%></span>
  </div>
</div>
<%= end_content_wrapper %>

<script type="text/javascript">
  pageResizer();
  function pageResizer() {
    var $pagenotfound = $j('.pagenotfound');
    $pagenotfound.parent(".content_wrapper_inner").height($j(window).height() - 160).css({'padding': 0});
    $pagenotfound.parents("#body_content").css({paddingTop: 46});
  }
  $j(window).resize(function () {
    pageResizer();
  });
</script>