<%
   go_config = scope[:go_config]
-%>

<div class="heading">
    <h2>Configuration File</h2>
    <span class="wbrSensitive"><%= go_config.location -%></span>
    <span class='label'>Configuration File Path: </span>
</div>