<li role="presentation"><a href="/go/admin/pipelines">Pipelines</a></li>
<li role="presentation"><a href="/go/admin/templates">Templates</a></li>
<li role="presentation"><a href="/go/admin/elastic_profiles">Elastic Agent Profiles</a></li>
<li role="presentation"><a href="/go/admin/config_xml">Config XML</a></li>
<li role="presentation"><a href="/go/admin/config/server">Server Configuration</a></li>
<li role="presentation"><a href="/go/admin/users">User Summary</a></li>
<li role="presentation"><a href="/go/oauth/admin/clients?column=status&order=ASC">OAuth Clients</a></li>
<li role="presentation"><a href="/go/admin/backup">Backup</a></li>
<li role="presentation">
  #if(${toggles.isToggleOn(${toggles.PLUGIN_SPA_TOGGLE_KEY})})
    <a href="/go/admin/plugins">Plugins</a>
  #else
    <a href="/go/admin/old_plugins">Plugins</a>
  #end
</li>
<li role="presentation"><a href="/go/admin/package_repositories/new">Package Repositories</a></li>
<li role="presentation" class="sub-menu">
  <a href="#">Security</a>
  <ul class="dropdown menu" data-dropdown-menu>
    <li role="presentation">
      <a href="/go/admin/security/auth_configs">Authorization Configuration</a>
    </li>
    <li role="presentation">
      <a href="/go/admin/security/roles">Role Configuration</a>
    </li>
  </ul>
</li>
