<% if @page_header %>
    <div class="page_header">
        <h1><%== @page_header %></h1>
        <% if @show_add_environments %>
            <div class="add_new_environment">
              <% title = 'Add a new environment' %>
              <%= link_to title, environment_new_path(), {:class => "link_as_header_button"} %>
            </div>
        <% end %>
    </div>
<% end %>
