<% scope[:pipeline] = scope[:pipeline_model].getLatestPipelineInstance() -%>
<%= pipeline_operations_blocking_form_remote_tag(:url => api_pipeline_action_path(:pipeline_name => scope[:pipeline].getName(), :action => "schedule"),
                    :html => {
                        :onsubmit => "PipelineOperations.onTrigger(this, '#{scope[:pipeline].getName()}', '#{api_pipeline_action_path(:pipeline_name => scope[:pipeline].getName(), :action => "schedule")}'); return false;".html_safe
                    })
-%>
    <div class='operate trigger_wrapper'>
        <%= submit_button(scope[:label], {:type=> 'image', :disabled => !scope[:pipeline_model].canForce(), :id => "deploy-#{scope[:pipeline].getName()}"}) %>
    </div>
<%== end_form_tag %>