<% @view_title = "HTTP ERROR #{@status}" -%>
<%== content_wrapper_tag %>
<div class="notification pagenotfound">
    <div class='biggest'>:(</div>
    <h3><%= @message %></h3>
    <span>Go to <%= link_to "Pipelines", url_for_path('pipelines') %></span>
</div>
<%== end_content_wrapper %>


<script type="text/javascript">
    pageResizer();
    function pageResizer() {
        var $pagenotfound = $j('.pagenotfound');
        $pagenotfound.parent( ".content_wrapper_inner").height($j(window).height() - 160).css({'padding':0});
        $pagenotfound.parents("#body_content").css({paddingTop:46});

    }
    $j(window).resize(function() {
        pageResizer();
    });
</script>