.nav.nav-tabs
	background: #999999
	border-bottom: #CCC 1px solid
	border-radius: 6px 6px 0 0
	-moz-border-radius: 6px 6px 0 0
	-webkit-border-radius: 6px 6px 0 0
	width: 100%
	padding-left: 2px
	margin-top: 5px
	li
		background-color: #333333
		border-color: #333333
		border-style: solid
		border-width: 1px 1px 0 1px
		border-radius: 4px 4px 0 0
		-moz-border-radius: 4px 4px 0 0
		-webkit-border-radius: 4px 4px 0 0
		margin: 5px 0 0 5px
		a
			color: #FFFFFF
			padding: 7px 12px
			display: block
		&.active
			background: #FFF
			border-color: #FFF
			border-style: solid
			border-width: 1px
			margin-bottom: -1px
			a
				color: #333
.tab-content
	clear: both
	padding: 1px 0
	.tab-pane
		display: none
		&.active
			display: block