
select {
  height: rem-calc(40);
}
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
  height: rem-calc(40);
}

//alerts

.callout {
    font-size: rem-calc(12);
  padding: 10px 10px 10px 50px;
  position: relative;
  &:before {
    position: absolute;
    left: 10px;
    font-size: 18px;
    top: 6px;
  }
  &.warning {
    background: #F9F4E6;
    @include icon-before($type: exclamation-triangle, $color: #EFCD61);
    border: 1px solid #FFF4D1;
  }

  &.alert {
    background: #FFF2F0;
    border: 1px solid #FBE1DD;
    white-space: pre;
    font-size: 12px;
  }
}