require "bundler/gem_tasks"
<% if config[:test] == 'minitest' -%>
require "rake/testtask"

Rake::TestTask.new(:test) do |t|
  t.libs << "test"
end

task :default => :test
<% elsif config[:test] == 'rspec' -%>
require "rspec/core/rake_task"

RSpec::Core::RakeTask.new(:spec)

task :default => :spec
<% end -%>
