<div class="form_item_block">
  <label>URL:<span class="asterisk">*</span>
  </label>
  <input type="url" ng-model="Url" ng-required="true">
  </input>
  <span class="form_error" ng-show="GOINPUTNAME[Url].$error.url">Incorrect url format.</span>
  <span class="form_error" ng-show="GOINPUTNAME[Url].$error.server">{{ GOINPUTNAME[Url].$error.server }}</span>
</div>
<div class="form_item_block">
  <label>Secure Connection:</label>
  <div class="checkbox_row">
    <input id="secureConnectionYes" type="radio" ng-model="SecureConnection" value="yes">
    <label for="secureConnectionYes">Yes</label>
    <input id="secureConnectionNo" type="radio" ng-model="SecureConnection" value="no">
    <label for="secureConnectionNo">No</label>
  </div>
</div>
<div class="form_item_block">
  <label>Request Type:</label>
  <select ng-model="RequestType">
    <option value="-G">GET</option>
    <option value="-d">POST</option>
  </select>
</div>
<div class="form_item_block">
  <label>Additional Options</label>
  <input type="text" ng-model="AdditionalOptions">
  </input>
</div>