.andare
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
		box-shadow: none
		-moz-box-shadow: none
		-webkit-box-shadow: none
		-o-box-shadow: none
		-ms-box-shadow: none
		width: auto
	.fieldset, fieldset
		clear: none
		padding: 0px
	.form_buttons
		margin: 0px
