<div class="error_messaging_counter">
  <div id="cruise_message_counts" class="cruise_messages">
  </div>
  <div id="cruise_message_body" style="display:none;" class="cruise_message_body">
  </div>

  <%- if auto_refresh? -%>
     <script type="text/javascript">
        Util.on_load(function() {
          new AjaxRefresher('<%= main_app.global_message_path %>', null, {
            executeImmediately: true,
            afterRefresh: function(){
              jQuery(document).trigger("server-health-messages-refresh-completed");
            }
          });
        });
     </script>
    <%- end -%>
</div>
