<% scope[:rendering_gadget] ||= false %>
<% if placeholder_stage?(scope[:stage]) -%>
    <span class='stage'>
        <%= render :partial => "shared/stage.html", :locals => {:scope => {:pipeline => scope[:pipeline], :stage => scope[:stage], :total_width => scope[:total_width]}} %>
    </span>
<% else -%>
    <a href='<%= stage_detail_tab_path(:pipeline_name => scope[:pipeline].getName(),
                                   :pipeline_counter => scope[:pipeline].getCounter(),
                                   :stage_name => scope[:stage].getName(),
                                   :stage_counter => scope[:stage].getCounter(),
                                   :only_path => !scope[:rendering_gadget]) -%>' class='stage' <%== scope[:rendering_gadget] ? "target='_blank'" : "" %>>
        <%= render :partial => "shared/stage.html", :locals => {:scope => {:pipeline => scope[:pipeline], :stage => scope[:stage], :total_width => scope[:total_width]}} %>
    </a>
<% end -%>