<div class="stages">
    <div class="latest_stage">
            <%= scope[:pipeline].getPipelineStatusMessage() %>
    </div>

    <% scope[:pipeline].getStageHistory().each do |stage_in_stage_bar| %>
        <%= render :partial => 'shared/stage_in_pipeline_bar.html',
                   :locals => { :scope => {:pipeline => scope[:pipeline],
                                           :stage => stage_in_stage_bar,
                                           :total_width => scope[:total_width],
                                           :rendering_gadget => scope[:rendering_gadget]}} %>
    <% end %>
</div>
