<div class="information">
    <%= @message -%> <a target="_blank" href="https://www.gocd.io/documentation/user/current/installation/installing_go_server.html"><%= l.string("MORE_INFORMATION") -%></a>
</div>
