<ul class="agent_counts list_aggregation clear_float">
    <li class='pending'>Pending: <%= @agents_pending %></li>
    <li class='enabled'>Enabled: <%= @agents_enabled %></li>
    <li class='disabled'>Disabled: <%= @agents_disabled %></li>
</ul>