<div id="templates"
     is-current-user-an-admin="<%= @is_user_admin %>"
     data-user-names="<%= @all_users.to_json %>"
     data-role-names="<%= @all_roles.to_json %>">
  <span class="page-spinner"></span>
</div>
