<div class="form_item_block">
    <label><%= l.string('DESTINATION_DIR') -%></label>
    <%= scope[:form].text_field(com.thoughtworks.go.config.materials.ScmMaterialConfig::FOLDER, {:class => "form_input", :id => nil}) -%>
    <%= error_message_on(scope[:form].object, com.thoughtworks.go.config.materials.ScmMaterialConfig::FOLDER, :css_class => "form_error") %>
</div>
