<%- @view_title = "Administration" -%>
<div id="pipeline_snippet_view">
    <%= render :partial => "pipeline_group_list", :locals => {:scope => {:modifiable_groups => @modifiable_groups, :group_name => @group_name}} %>

    <div id="view_group">
        <div class="form_buttons">
            <%= link_to l.string("EDIT"), pipelines_snippet_edit_path(:group_name => @group_name), :class => 'edit link_as_button ' -%>
        </div>
        <pre id="content_container" class="wrap_pre"><%= h(@group_as_xml) %></pre>
    </div>
</div>