    <% if scope[:condition] == 1 %>
        <span class="error">--Unable to connect to Shine</span>
    <% elsif scope[:condition] == 2 %>
        <h3>
            <span class="message">There are no tests configured in this stage.</span>
        </h3>
    <% elsif scope[:condition] == 3 %>
        <h3>
            <div class="counts">
                <span class="total">Tests Run: X</span> <span class="failures">Failures: 0</span>
                <span class="errors">Errors: 0</span>
            </div>
            <span class="message">The stage passed</span>
        </h3>
    <% else %>
        <h3>
            <div class="counts">
                <span class="total">Tests Run: 3,123</span>
                <span class="failures">Failures: 532</span>
                <span class="errors">Errors: 0</span>
            </div>
            <span class="message">New Tests Broken Since:<span class="secondary">(ordered by check-in/material time)</span></span>
        </h3>
        <ol>

                <li class="failing_pipeline" id="failing_pipeline%= idx_in_non_passing_tests %>">
                    <div class="pipeline_bar">
                        <div class="counts secondary"><span class="failures">Failures: 0</span>
                            <span class="errors">Errors: 0</span></div>
                        <div class="color_code Failed"></div>
                        <span class="pipeline_label secondary">Pipeline Label: 3235</span>
                    </div>

                        <div class="users">By johndoe</div>

                    <div class="block_to_hide_or_reveal_by_above_pipeline_bar">

                            These changes did not break any of the currently failing tests.
                    </div>
                </li>
            <li class="failing_pipeline" id="failing_pipeline%= idx_in_non_passing_tests %>">
                               <div class="pipeline_bar">
                                   <div class="counts secondary"><span class="failures">Failures: 9,999</span>
                                       <span class="errors">Errors: 1</span></div>
                                   <div class="color_code Failed"></div>
                                   <span class="pipeline_label secondary">Pipeline Label: 3233</span>
                               </div>

                                   <div class="users">By f.bar</div>

                               <div class="block_to_hide_or_reveal_by_above_pipeline_bar">

                                       <div class="suite">Suite: <span class="suite_name">ApiForCardsVersion1Test</span></div>
                                       <table class="test_suite">
                                           <tr>
                                               <td colspan="2">

                                               </td>
                                           </tr>

                                               <tr class="test_case">
                                                   <td class="test_status"><div class="Error"> </div></td>

                                                   <td class="test_name">
                                                       <span class="name">test_create_update_with_card_type_name(ApiForCardsVersion1Test)</span>
                                                           <span class="jobs">(Acceptance_api_1)</span>
                                                   </td>
                                               </tr>
<tr class="test_case">
    <td class="test_status"><div class="Failure"> </div></td>

                                                   <td class="test_name">
                                                       <span class="name">test_error_from_member_updatung_located_property_should_not_contain_escaped_html(ApiPropertyDefinitionsVersion2Test)</span>
                                                           <span class="jobs">(Acceptance_api_2)</span>
                                                   </td>
                                               </tr>
                                       </table>
                                   <div class="suite">Suite: <span class="suite_name">Scenario06CardVersioningTest</span></div>
                                       <table class="test_suite">
                                           <tr>
                                               <td colspan="2">

                                               </td>
                                           </tr>

                                               <tr class="test_case">
                                                   <td class="test_status"><div class="Failure"> </div></td>

                                                   <td class="test_name">
                                                       <span class="name">test_clicking_back_link_on_preview_page_retains_user_entered_data_in_tab_separated_import_text_area(Scenario09ExcelImportTest)</span>
                                                           <span class="jobs">(Acceptance_Excel) </span>
                                                   </td>
                                               </tr>
<tr class="test_case">
    <td class="test_status"><div class="Failure"> </div></td>

                                                   <td class="test_name">
                                                       <span class="name">test_exsisting_text_property_should_be_fetched_during_import_and_no_other_properties_except_ignore_for_that_column(Scenario09ExcelImportTest)</span>
                                                           <span class="jobs">(Acceptance_Excel) </span>
                                                   </td>
                                               </tr>
                                           <tr class="test_case">
                                               <td class="test_status"><div class="Failure"> </div></td>

                                                   <td class="test_name">
                                                       <span class="name">test_greater_than_255_chars_should_not_be_allowd_to_be_imported_as_property_otherthan_description_it_should_throw_error(Scenario09ExcelImportTest)</span>
                                                           <span class="jobs">(Acceptance_Excel)</span>
                                                   </td>
                                               </tr>
                                           <tr class="test_case">
                                               <td class="test_status"><div class="Failure"> </div></td>

                                                   <td class="test_name">
                                                       <span class="name">test_import_does_not_create_blank_enum_values(Scenario09ExcelImportTest)</span>
                                                           <span class="jobs">(Acceptance_Excel) </span>
                                                   </td>
                                               </tr>
                                           <tr class="test_case">
                                               <td class="test_status"><div class="Failure"> </div></td>

                                                   <td class="test_name">
                                                       <span class="name">test_should_return_back_import_review_page_and_show_error_message_and_remember_the_user_selection_when_error_happen_during_importing(Scenario09ExcelImportTest)</span>
                                                           <span class="jobs">(Acceptance_Excel) </span>
                                                   </td>
                                               </tr>
                                           <tr class="test_case">
                                               <td class="test_status"><div class="Failure"> </div></td>
                                               <td class="test_name">
                                                       <span class="name">test_card_ranking_mode_should_be_trun_off_when_user_leaves_grid_view_to_other_views_of_tree_while_ranking_mode_is_on(Scenario125TurnOnAndOffCardRankingTest)</span>
                                                           <span class="jobs">(Acceptance_Excel) </span>
                                                   </td>
                                               </tr>
                                           <tr class="test_case">
                                               <td class="test_status"><div class="Failure"> </div></td>
                                               <td class="test_name">
                                                       <span class="name">test_renaming_tag_propagates_throughout_app(Scenario11CrudTagTest)</span>
                                                           <span class="jobs">(Acceptance_tagging) </span>
                                                   </td>

                                               </tr>
                                           <tr class="test_case">
                                                   <td class="test_status"><div class="Failure"> </div></td>
                                                   <td class="test_name">
                                                       <span class="name">test_should_be_able_to_use_this_card_in_macro_condition_for_multiple_times_in_card_default(Scenario154UseThisCardInMqlWhereStatementTest)</span>
                                                           <span class="jobs">(Acceptance_Macro) </span>
                                                   </td>

                                               </tr>
                                       </table>
                               </div>
                           </li>

        </ol>
    <% end %>

