<%=render :partial => "stages/schedule_info.html", :locals => {:scope => {:stage => @stage}} %>

<div class="duration">
    <span class="label"><%= l.string("Duration:") %></span>
    <span class="time"><%= @stage.getDuration() %></span>
</div>

<span class="compare_pipeline">
        <% scope[:identifier] = @stage.getIdentifier()
           scope[:counter] = scope[:identifier].getPipelineCounter() %>
        <%= link_to("#{l.string("COMPARE")}",
                    compare_pipelines_path(:pipeline_name => scope[:identifier].getPipelineName(), :from_counter => scope[:counter] - 1, :to_counter => scope[:counter]),
                    :title => l.string("TOOLTIP_COMPARE_WITH_PREVIOUS"))
        %>    
</span>
