<div class="stats">
    <% if @no_chart_to_render %>
         <%= render :partial => "admin/shared/notification_information.html", :locals => {:scope => {:notification_message => l.string("NO_GRAPH_FOR_STAGE")}} -%>
    <% else %>
        <div id="chart_details_container">
            <%= render :partial => 'shared/stage_details_chart.html', :locals=> {:scope => {:chart_scale => scope[:chart_scale], :start_end_dates => scope[:start_end_dates],
                                                                       :chart_stage_duration_passed => scope[:chart_stage_duration_passed], :chart_tooltip_data_passed => scope[:chart_tooltip_data_passed],
                                                                       :chart_stage_duration_failed => scope[:chart_stage_duration_failed], :chart_tooltip_data_failed => scope[:chart_tooltip_data_failed]}} -%>
        </div>
        <div class="graph_navigation_buttons">
            <% if scope[:pagination].hasPreviousPage() %>
                <%= link_to l.string("NEWER"), stage_detail_tab_path(:action=> "stats", :page_number => scope[:pagination].getPreviousPage()), :class => 'newer link_as_button' -%>
            <% end %>
            <% if scope[:pagination].hasNextPage() %>
                <%= link_to l.string("OLDER"), stage_detail_tab_path(:action=> "stats", :page_number => scope[:pagination].getNextPage()), :class => 'older link_as_button' -%>
            <% end %>
        </div>
    <% end  %>
</div>