<div class='config-changes' >
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <% if @config_change_error_message %>
            <tr class="information">
               <td>
                  <%= @config_change_error_message -%>
               </td>
            </tr>
        <% else %>
            <% changes_lines = @changes.strip.split("\n") %>
            <% changes_lines.each do |line|
              trimmed_line = line.strip
              css_class = 'add' if trimmed_line.start_with?('+')
              css_class = 'remove' if trimmed_line.start_with?('-')
              css_class = 'line-info' if trimmed_line.start_with?('@@')
              css_class = 'context' unless css_class %>
              <tr class="<%= css_class -%>"><td><pre><%= html_escape(line) -%></pre></td></tr>
            <% end %>
        <% end %>
    </table>
</div>