<ul class="smartfill_content">
<% @pipeline_names.each_with_index do |matched_pipeline, idx| %>
    <li id="matched-pipeline-<%= idx %>">
        <div class="pipeline"><%=matched_pipeline%></div>
    </li>
<% end %>
</ul>