<%#
  Copyright Thoughtworks, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>
<div class="vsm-analytics-panel" id="vsm-analytics-panel">
  <h3 class="vsm-analytics-title">
      VSM Analytics:
  </h3>

  <div id="select-pipelines-template" class="vsm-analytics-selection">
    <div class="source_container">
        <span class="analytics-source analytics-current">
          <%= scope[:current] %>
        </span>
    </div>
    <div class="destination_container">
        <span class="analytics-destination vsm-analytics-help">
          <%= scope[:message] %>
        </span>
    </div>
  </div>

  <div id="selected-pipelines" class="vsm-analytics-selection hide">
    <div class="source_container">
      <span class="analytics-source"></span>
    </div>
    <div class="destination_container">
      <span class="analytics-destination"></span>
    </div>
  </div>

  <div class="vsm-analytics-actions">
    <button title="View Analytics" class="view-vsm-analytics btn-primary disabled">
      View Analytics
    </button>
    <button title="View Analytics" class="reset-vsm-analytics btn-primary hide">
      Reset Selection
    </button>
    <button class="analytics-close"></button>
  </div>
  <div id="analytics-overlay" class="analytics-overlay hide"></div>
</div>
