<%- if scope[:to_pipeline].isBisect() || scope[:from_pipeline].isBisect() -%>
    <div class="information">
        <%- if params[:show_bisect] == true.to_s -%>
            <div class="warning">
                This comparison involves a pipeline instance that was triggered with a non-sequential material revision.
            </div>
        <%- else -%>
            <div class="message">
                <span>
                    This comparison involves a pipeline instance that was triggered with a non-sequential material revision.
                </span>
                <span class="prompt">
                    <%= link_to "Continue", compare_pipelines_path(:show_bisect => true), :class => :link_as_header_button -%>
                </span>
            </div>
        <%- end -%>
    </div>
<%- end -%>