<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" lang='en'>
<head>
    <title>Dashboard</title>
    <link debug="false" href="/go/<<<REPLACED_BY_GO:application.css>>>" media="all" rel="stylesheet"/>
    <link debug="false" href="/go/<<<REPLACED_BY_GO:patterns/application.css>>>" media="all" rel="stylesheet"/>
    <script debug="false" src="/go/<<<REPLACED_BY_GO:application.js>>>"></script>
    <link rel="shortcut icon" href="/go/<<<REPLACED_BY_GO:cruise.ico>>>"/>
</head>
<body>
<div id="body_bg">
    <div id="header">
        <div class="header clear_float">
            <a href="/go/home" id="application_logo">&nbsp;</a>

            <div class="application_nav">
                <ul class="user">
                    <li class="current_user icon">
                        <a href="#" class="current_user_name dropdown-arrow-icon">admin</a>
                        <ul class='enhanced_dropdown hidden'>
                            <li class="logout">
                                <a class="sign_out" href="/go/auth/logout" id="nav-logout">Sign out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body_content">
        <p>This view is only available for standby server.</p>
    </div>
</div>
</body>
</html>
