<table class="list_table">
        <thead>
            <th style='width: 30%'>Pipeline</th>
            <th>Group</th>
        </thead>
        <tbody>
        <% @pipelines_with_group.each do |pipeline_and_group_pair| %>
            <tr>
                <td>
                    <% member_roles = @cruise_config.server().security().getRoles().memberRoles(com.thoughtworks.go.config.AdminUser.new(@user.getUsername))
                       group = pipeline_and_group_pair.last
                       pipeline = pipeline_and_group_pair.first
                       if @cruise_config.isAdministrator(@user.getUsername.toString()) || group.isUserAnAdmin(@user.getUsername(), member_roles) %>
                        <a href="<%= admin_material_index_path(:pipeline_name => pipeline.name()) %>"><%= pipeline.name() %></a>
                    <% else %>
                        <%= pipeline.name() %>
                    <% end %>
                </td>
                <td><%= pipeline_and_group_pair.last.getGroup() %></td>
            </tr>
        <% end %>
        </tbody>
</table>