#*
 * Copyright 2019 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<textarea rows="0" cols="0" id="pipeline-selector-template" style="display:none;">
    Select:
    <span><input type="checkbox" {if pipelineSelector.showAll()}checked="checked"{/if} onclick="pipelineSelector.toggleAll()" id="pipelines-selector-all" />All</span>
    <span><input type="checkbox" {if pipelineSelector.showNone()}checked="checked"{/if} onclick="pipelineSelector.toggleNone()" id="pipelines-selector-none" />None</span>
    <ul id="pipeline-selector-container" class="pipeline-selectors">
        {for group in groups.keys()}
            <li id="group-${%group%}" class="group" title="Hide/Show Group ${%group%}">
                <input type="checkbox" onclick="pipelineSelector.toggleGroup(this, '${%group%}')" id="pipeline-selector-of-${%group%}"
                        {if pipelineSelector.shouldGroupBeChecked(group)}checked="checked"{/if}/>${%group.truncate(32)%}
            </li>
            <ol id="pipelines-of-${%group%}">
                {for name in groups.get(group)}
                    <li title="Hide/Show ${%name%}">
                        <input type="checkbox" onclick="pipelineSelector.togglePipeline('${%name%}', '${%group%}')"
                        {if pipelineSelector.shouldPipelineBeChecked(name)}checked="checked"{/if} id="pipeline-selector-of-${%name%}" onclick=""/>${%name.truncate(32)%}
                    </li>
                {/for}
            </ol>
        {/for}
    </ul>
    <div class="clear"></div>
</textarea>
<div id="pipeline-selector" class="sidebar-container">
    <h2><a href="javascript:void(0)">Pipeline Selector
        <img id="pipeline-selector-spinner" src="$req.getContextPath()/$concatenatedSpinnerIconFilePath" alt="loading..." style="display: none; margin-left: 1em;"/>
    </a></h2>
    <div id="pipeline-selector-content" class="actions_bar sidebar-content"></div>
    <div class="ab-bg">
        <span class="ab-corner lvl4"></span>
        <span class="ab-corner lvl3"></span>
        <span class="ab-corner lvl2"></span>
        <span class="ab-corner lvl1"></span>
    </div>
</div>