<div class="page_header">
  <div class="row">
    <ul class="entity_title">
      <li><%= link_to 'Templates', spark_url_for({url_builder: controller}, SparkRoutes::AdminTemplates::SPA_BASE) -%></li>
      <li class='last'><h1 class='wrapped_word'><%= @pipeline.name() -%> </h1></li>
    </ul>
    <a class="link_as_button primary quick_edit_button" href="/go/admin/templates/<%= @pipeline.name() %>/edit">
      Quick Edit
    </a>
  </div>
</div>
