<div class="form_item_block">
    <label><%= l.string('MATERIAL_NAME') -%></label>
    <%= scope[:form].text_field com.thoughtworks.go.config.materials.AbstractMaterialConfig::MATERIAL_NAME, :class => "form_input", :id => nil -%>
    <div class="contextual_help has_go_tip_right" title="<%=l.string("TOOLTIP_MATERIAL_NAME")-%>"></div>
    <%= error_message_on(scope[:form].object, com.thoughtworks.go.config.materials.AbstractMaterialConfig::MATERIAL_NAME, :css_class => "form_error") %>
</div>