<div class="page_header">
    <ul class="entity_title">
        <li><%= link_to l.string("TEMPLATES"), templates_path -%></li>
        <li class='last'><h1><%= word_breaker(@pipeline.name(), 25) -%> </h1></li>
    </ul>
</div>