<% if !@current_server_health_states.isRealSuccess()
        cruise_config = go_config_service.getCurrentConfig()
%>
        <% @current_server_health_states.each do |state_in_messages_body| %>
            <% if !state_in_messages_body.isRealSuccess() %>
                <div class="<%=state_in_messages_body.getLogLevel().name().downcase%>" data-pipelines="<%= state_in_messages_body.getPipelineNames(cruise_config) %>">
                    <div class="message"><%==state_in_messages_body.getMessageWithTimestamp()%></div>
                    <div class="description"><%==state_in_messages_body.getDescription()%></div>
                </div>
            <% end %>
        <% end %>
<% end %>