<%- scope = {} -%>
<div class="clear-float"></div>
<div class="sub_tab_container rounded-corner-for-tab-container">
    <div class="sub_tabs_container">
        <ul>
            <li class="checkins current_tab">
                <a class="tab_button_body_match_text">checkins</a>
                <a><%= (l.string("CHANGES")).capitalize -%></a>
            </li>
        </ul>
    </div>
    <div class="sub_tab_container_content">
        <div id="tab-content-of-checkins" class="material_revision_diff">
            <%= render :partial => "bisect_warning.html", :locals => {:scope => {:to_pipeline => @to_pipeline, :from_pipeline => @from_pipeline}} -%>
            <div style="padding: 1em;">
                <%= render :partial => "material_revision_tables.html", :locals => {:scope => {:scm_material_revisions => @material_revisions, :dependency_material_revisions => @dependency_material_revisions, :draw_wrapper_div => true}} -%>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    new TabsManager(undefined, 'comparison_page', '<%= params[:pipeline_name] -%>>', 'checkins');
</script>
