{
  "sourceType": "unambiguous",
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": false,
        "corejs": "3.38",
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [
            "> 0.5%",
            "last 3 major versions",
            "Firefox ESR",
            "not dead",
            "not op_mini all",
            "not op_mob > 0",
            "not KaiOS > 0",
            "not and_uc > 0",
            "not and_qq > 0"
            // see http://browserl.ist/?q=defaults and https://github.com/ai/browserslist#queries
          ]
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "debug": true,
        "pragma": "m"
      }
    ]
  ],
  // Workaround for "Module parse failed: Unexpected token" on class properties.
  // Likely can be removed with Webpack 5.
  "plugins": ["@babel/plugin-transform-class-properties"]
}
