{
  "sourceType": "unambiguous",
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": false,
        "corejs": "3.29",
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [
            "> 0.5%",
            "last 3 major versions",
            "Firefox ESR",
            "not dead",
            "not Kaios > 0",
            "not OperaMobile > 0"
            // see http://browserl.ist/?q=defaults and https://github.com/ai/browserslist#queries
          ]
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "debug": true,
        "pragma": "m"
      }
    ]
  ]
}
