{
  "sourceType": "unambiguous",
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": false,
        "corejs": "3.16",
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [
            "> 0.5%",
            "last 2 versions",
            "Firefox ESR",
            "not IE > 0",
            "not IE_Mob > 0",
            "not BlackBerry > 0"
            // see http://browserl.ist/?q=defaults and https://github.com/ai/browserslist#queries
          ]
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "debug": true,
        "pragma": "m"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties"
    ]
  ]
}
