<%= form_for(@oauth_client) do |f| %>
  <% if @oauth_client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@oauth_client.errors.count, "error") %> prohibited this oauth_client from being saved:</h2>

      <ul>
      <% @oauth_client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
