<p class="warnings">This is a global copy. All pipelines using this SCM will be affected. <a id="show_pipelines_used_in" href="#">Show pipelines using this SCM</a></p>
<div id="pipelines_used_in" class="modal-box-section">
</div>

<%= render :partial => "admin/materials/pluggable_scm/form.html", :locals => { :scope => { :material => @material, :url => admin_pluggable_scm_update_path(:plugin_id => @material.getPluginId()), :method => "PUT" , :meta_data_store => @meta_data_store, :read_only_page => @is_config_repo_pipeline}} -%>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var url = '<%= scm_pipelines_used_in_path(:scm_id => @material.getSCMConfig().getId()) %>';
        new FetchPipelinesUsingGivenPackage(url, "#show_pipelines_used_in", "#pipelines_used_in").init();
    });
</script>
