#*
 * Copyright 2019 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
## layout level variable
#set ($title = "Pipeline Activity - Go")
#set($current_tab='build')
## page level variable
#set($_hide_collapse-sidebar-button = true)
#set($pipelineName=$esc.javascript($pipelineName))

#set($_page_title="$pipelineName")
#parse("shared/_header.vm")

<style type="text/css">
  .pipeline-history-group .wrapper .onHover .detail,
  .pipeline-history-group .wrapper .onHover .rerun,
  .pipeline-history-group .wrapper .onHover .disabled-rerun {
    display: block;
    zoom:    1;
  }
</style>
<![endif]-->
<textarea rows="0" cols="0" id='pipeline-history-list-template' style="display: none;">
    #parse('pipeline/_pipeline_history_list_jstemplate.vm')
</textarea>
<div id="yui-main">
<div class="label-filter-group-container">
  <div class="row">
      <div class="label-filter-group">
        <button title="Clear" class="filter-clear-icon" style="display: block;" id="labelFilterClear"></button>
        <input type="text" id="labelFilterField" placeholder='Filter history...'>
      </div>
  </div>
</div>



    <!-- Pipeline Label Filter -->


    <div class="yui-b">
      <!-- breadcrumbs -->
        #set($current_page="pipeline_history")
      <!-- /breadcrumbs -->

      <!-- pipeline start -->

      <div id="pipeline-history">
        <div class="row">
        Loading...
        <img src="$req.getContextPath()/$concatenatedSpinnerIconFilePath" alt="loading..."/>
      </div>
      </div>

      <p id="search-message"></p>


      <!-- pipeline end -->
    </div>
  </div>
</div>


<div class="pagination">
  <div class="row">
    #set($previousPage = "pipelineHistoryPage.switchToPage('$pipelineName', paginator.currentPage - 1)")
    #set($nextPage = "pipelineHistoryPage.switchToPage('$pipelineName', paginator.currentPage + 1)")
    #set($page = "pipelineHistoryPage.switchToPage('$pipelineName', ${% page.pageNumber %})")
    #parse("shared/_pagination_jstemplate.vm")
  </div>
</div>
<!-- end bd -->
#parse("shared/_flash_message.vm")

<script type="text/javascript">
  var pipelineHistoryPage = new PipelineHistoryPage();
  var pipelineActions = new PipelineActions();
  var stageActions = new StageActions();
  var paginator = new Paginator();

  var ReformatAllBuildTimes = Class.create();
  ReformatAllBuildTimes.prototype = {
    initialize: function () {
    },
    notify: function () {
      jQuery(".pipeline-info.scheduled-date").map(function (idx, scheduledDate) {
        var timestamp = parseInt(jQuery(scheduledDate).attr("data"));
        if (isNaN(timestamp)) return;
        var time = new Date(timestamp);
        jQuery(scheduledDate).text(moment(time).format('DD MMM YYYY [at] HH:mm:ss [Local Time]'));
      });
    }
  }

  new ReformatAllBuildTimes().notify();

  var dashboard_periodical_executor = new DashboardPeriodicalExecutor('pipelineHistory.json?pipelineName=$pipelineName');
  var pipelineHistoryObserver = new PipelineHistoryObserver('history');
  dashboard_periodical_executor.register(pipelineHistoryObserver);
  dashboard_periodical_executor.register(new ReformatAllBuildTimes());

  dashboard_periodical_executor.start();

  var PipelineHistoryComment = initPipelineHistoryComment(jQuery, Modalbox, dashboard_periodical_executor);

  var pipelineName = "$pipelineName";
</script>

#parse("shared/_footer.vm")
