<div class="form_item required">
    <%= render :partial => "admin/tasks/shared/build_task_form.html", :locals => {:scope => {:form => scope[:form], :task => scope[:task], :task_type => "ANT"} } %>
</div>
