#* @implicitly included *#
#* @vtlmacrolibrary path="velocity/macros/urls.vm" *#
#* @vtlvariable name="controllerName" type="java.lang.String" *#
#* @vtlvariable name="currentUser" type="com.thoughtworks.go.server.domain.Username" *#
#* @vtlvariable name="currentVersion" type="com.thoughtworks.go.CurrentGoCDVersion" *#
#* @vtlvariable name="goUpdate" type="java.lang.String" *#
#* @vtlvariable name="goUpdateCheckEnabled" type="boolean" *#
#* @vtlvariable name="railsAssetsService" type="com.thoughtworks.go.server.service.RailsAssetsService" *#
#* @vtlvariable name="securityService" type="com.thoughtworks.go.server.service.SecurityService" *#
#* @vtlvariable name="toggles" type="com.thoughtworks.go.server.service.support.toggle.Toggles" *#
#* @vtlvariable name="viewTitle" type="java.lang.String" *#
#* @vtlvariable name="webpackAssetsService" type="com.thoughtworks.go.server.service.WebpackAssetsService" *#
