<div id="modifiable_groups">
    <h1>Pipeline Groups</h1>
    <ul>
        <%- scope[:modifiable_groups].each do |group| -%>
            <%- class_name = ""%>
            <%- class_name = "selected" if group == scope[:group_name]-%>
            <li class="<%= class_name %>"><span><%= link_to group, pipelines_snippet_show_path(:group_name => group), :class => "modifiable_group_link", :title => group %></span></li>
        <% end -%>
    </ul>
</div>
