<%#
  Copyright Thoughtworks, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>
<%- @view_title = "Administration" -%>
<div id="pipeline_snippet_view">
    <%= render :partial => "pipeline_group_list", :locals => {:scope => {:modifiable_groups => @modifiable_groups, :group_name => @group_name}} %>

    <div id="view_group">
        <div class="form_buttons">
            <%= link_to 'Edit', pipelines_snippet_edit_path(:group_name => @group_name), :class => 'link_as_button primary', :id => 'edit_config'-%>
        </div>
        <pre id="content_container" class="wrap_pre"><%= h(@group_as_xml) %></pre>
    </div>
</div>