<div id="footer-new-foundation">
<footer class="app-footer">
        <div class="row expanded">
            <div class="small-12 medium-6 large-8 columns">
                <p class="copyright">Copyright &copy; 2016
                    <a href="https://www.thoughtworks.com/products" target="_blank">ThoughtWorks, Inc.</a>
                    Licensed under <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License, Version 2.0</a>.<br>
                    Go includes <a href="/go/NOTICE/cruise_notice_file.pdf" target="_blank">third-party software</a>.
                    Go Version: #include("admin/admin_version.txt.vm").
                </p>

            </div>
            <div class="small-12 medium-6 large-4 columns">
                 <span class="inline-list social">
                        <a href="https://twitter.com/goforcd" title="twitter" class="twitter"></a>
                        <a href="https://github.com/gocd/gocd" title="github" class="github"></a>
                        <a href="https://groups.google.com/d/forum/go-cd" title="forums" class="forums"></a>
                        <a href="https://docs.go.cd/current" title="documentation" class="documentation"></a>
                        <a href="https://www.go.cd/plugins/" title="plugins" class="plugins"></a>
                        <a href="https://api.go.cd/" title="api" class="api"></a>
                        <a href="$req.getContextPath()/about" title="about" class="server-details"></a>
                        <a href="$req.getContextPath()/cctray.xml" title="cctray" class="cctray"></a>
                    </span>
            </div>
        </div>
</footer>
</div>
