#*************************GO-LICENSE-START*********************************
 * Copyright 2014 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *************************GO-LICENSE-END***********************************#

<li role="presentation">
    <a href="$req.getContextPath()/admin/pipelines">$l.localize("PIPELINES_POPUP_TITLE")</a>
</li>
<li role="presentation">
  <a href="$req.getContextPath()/admin/templates">$l.localize("TEMPLATES")</a>
</li>
<li role="presentation">
    <a href="$req.getContextPath()/admin/elastic_profiles">Elastic Agent Profiles</a>
</li>
<li role="presentation">
    <a href="$req.getContextPath()/admin/config_xml">$l.localize("PIPELINES_SNIPPET")</a>
</li>
<li role="presentation">
    <a href="$req.getContextPath()/admin/config/server">$l.localize("SERVER_CONFIGURATION")</a>
</li>
<li role="presentation">
    <a href="$req.getContextPath()/admin/users">User Summary</a>
</li>
<li role="presentation">
    <a href="$req.getContextPath()/oauth/admin/clients?column=status&order=ASC">OAuth Clients</a>
</li>
<li role="presentation">
    <a href="$req.getContextPath()/admin/backup">Backup</a>
</li>
<li role="presentation">
    #if($plugin_spa_toggle_key)
      <a href="$req.getContextPath()/admin/new_plugins">$l.localize("PLUGINS_TAB")</a>
    #else
      <a href="$req.getContextPath()/admin/plugins">$l.localize("PLUGINS_TAB")</a>
    #end
</li>
<li role="presentation">
    <a href="$req.getContextPath()/admin/package_repositories/new">$l.localize("PACKAGE_REPOSITORY_TAB")</a>
</li>
<li role="presentation" class="sub-menu">
  <a href="#">Security</a>
  <ul class="dropdown menu" data-dropdown-menu>
    <li role="presentation">
      <a href="$req.getContextPath()/admin/security/auth_configs">Authorization Configuration</a>
    </li>
    <li role="presentation">
      <a href="$req.getContextPath()/admin/security/roles">Role Configuration</a>
    </li>
  </ul>
</li>
