#*************************GO-LICENSE-START*********************************
 * Copyright 2014 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *************************GO-LICENSE-END***********************************#

</div>


        </div>
        <!-- end content -->

    </div></div></div><!-- end of body_bg, body_hightlight, body_wrapper-->
#parse("shared/_copyright_license_info.vm")
           <div id="back_to_top" class='back_to_top' title="Scroll to Top">Top</div>
    </body>

#if( $goUpdateCheckEnabled )
<script type="text/javascript">
    var updater = new VersionUpdater("/go/api/version_infos/stale", "/go/api/version_infos/go_server");
    updater.update();
</script>
#end
    <script type="text/javascript">
        restoreSidebarStatus();

        if(FirebugDetector){
            FirebugDetector.check();
            if(window.dashboard_periodical_executer){
                dashboard_periodical_executer.register(FirebugDetector);
            }
        }

        new AjaxRefresher("$req.getContextPath()/server/messages.json", "$req.getContextPath()/auth/login", {executeImmediately: true});

        #if($global_error_message && $global_error_message != "")
            FlashMessageLauncher.warn("$esc.javascript("$global_error_message")", null, true);
        #end

        if(Prototype.Browser.IE){
            $$('.rounded-corner-for-body').each(function(container){
                $(container);
                if(container.getWidth() % 2 == 1){
                    container.setStyle({width: container.getWidth() + 1 + 'px'});
                }
            })
        }
    </script>
</html>
