#*************************GO-LICENSE-START*********************************
 * Copyright 2014 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *************************GO-LICENSE-END***********************************#

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7]> <html lang="en" class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="no-js ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang='en'>
<!--<![endif]-->


<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="$req.getContextPath()/images/cruise.ico?#include("admin/admin_version.txt.vm")"/>

##    new files from less starts
    #if($useNewRails)
            <link href="$req.getContextPath()/$concatenatedApplicationCssFilePath" media="all" rel="stylesheet" />
            <link href="$req.getContextPath()/$concatenatedCssApplicationCssFilePath" media="all" rel="stylesheet" />
            <link href="$req.getContextPath()/$concatenatedVmApplicationCssFilePath" media="all" rel="stylesheet" />
    #else
        <link href="$req.getContextPath()/stylesheets/css_sass/css_sass.css?#include("admin/admin_version.txt.vm")" rel="stylesheet" type="text/css"></link>
    ##    new files from less ends

        <link href="$req.getContextPath()/css/reset-fonts-grids-fix.css?#include("admin/admin_version.txt.vm")" rel="stylesheet" type="text/css"></link>
        <link href="$req.getContextPath()/css/rounded_corner.css?#include("admin/admin_version.txt.vm")" rel="stylesheet" type="text/css"></link>
        <link href="$req.getContextPath()/css/application-old.css?#include("admin/admin_version.txt.vm")" rel="stylesheet" type="text/css"></link>
        <link href="$req.getContextPath()/css/application-old.css?#include("admin/admin_version.txt.vm")" rel="stylesheet" type="text/css"></link>

        <link href="$req.getContextPath()/stylesheets/structure/application.css?#include("admin/admin_version.txt.vm")" rel="stylesheet" type="text/css"></link>
        <link href="$req.getContextPath()/stylesheets/patterns/modalbox.css?#include("admin/admin_version.txt.vm")" rel="stylesheet" type="text/css"></link>
        #if ($useCompressJS)
            <link href="$req.getContextPath()/stylesheets/vm/vm.css?#include("admin/admin_version.txt.vm")" rel="stylesheet" type="text/css"></link>
        #else
            <link href="$req.getContextPath()/stylesheets/vm/rails_like.css?#include("admin/admin_version.txt.vm")" rel="stylesheet" type="text/css"></link>
            <link href="$req.getContextPath()/stylesheets/vm/old_ui_hack.css?#include("admin/admin_version.txt.vm")" rel="stylesheet" type="text/css"></link>
            <link href="$req.getContextPath()/stylesheets/vm/structure_for_old_ui.css?#include("admin/admin_version.txt.vm")" rel="stylesheet" type="text/css"></link>
            <link href="$req.getContextPath()/stylesheets/vm/layout_for_old_ui.css?#include("admin/admin_version.txt.vm")" rel="stylesheet" type="text/css"></link>
            <link href="$req.getContextPath()/stylesheets/vm/jef_override_for_old_ui.css?#include("admin/admin_version.txt.vm")" rel="stylesheet" type="text/css"></link>
        #end


    <!--[if lte IE 7]><link href="$req.getContextPath()/css/ie_hacks.css?#include("admin/admin_version.txt.vm")" rel="stylesheet" type="text/css"></link><![endif]-->
        #if($extra_css_list)
            #foreach($css_name in $extra_css_list)
            <link href="$req.getContextPath()/css/${css_name}.css?#include("admin/admin_version.txt.vm")" rel="stylesheet" type="text/css"/>
            #end
        #end

    #end
    #if ($useCompressJS || $useNewRails)
        <script src="$req.getContextPath()/$concatenatedJavascriptFilePath" type="text/javascript">
    #else
        <script src="$req.getContextPath()/javascripts/lib/jquery-1.7.2.js?#include("admin/admin_version.txt.vm")" type="text/javascript"></script>
        <script src="$req.getContextPath()/javascripts/lib/bootstrap-2.3.2.min.js?#include("admin/admin_version.txt.vm")" type="text/javascript"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/lib/jquery_no_conflict.js"></script>
        <script src="$req.getContextPath()/javascripts/lib/prototype-1.6.0.js?#include("admin/admin_version.txt.vm")" type="text/javascript"></script>
        <script src="$req.getContextPath()/javascripts/lib/scriptaculous-1.8.0.js?#include("admin/admin_version.txt.vm")" type="text/javascript"></script>
        <script src="$req.getContextPath()/javascripts/lib/effects-1.8.0.js?#include("admin/admin_version.txt.vm")" type="text/javascript"></script>
        <script src="$req.getContextPath()/javascripts/lib/accordion-2.0.js?#include("admin/admin_version.txt.vm")" type="text/javascript"></script>
        <script src="$req.getContextPath()/javascripts/lib/controls-1.8.0.js?#include("admin/admin_version.txt.vm")" type="text/javascript"></script>
        <script src="$req.getContextPath()/javascripts/lib/dragdrop-1.8.0.js?#include("admin/admin_version.txt.vm")" type="text/javascript"></script>
        <script src="$req.getContextPath()/javascripts/lib/modalbox-1.6.1.js?#include("admin/admin_version.txt.vm")" type="text/javascript"></script>
        <script src="$req.getContextPath()/javascripts/lib/slider-1.8.0.js?#include("admin/admin_version.txt.vm")" type="text/javascript"></script>
        <script src="$req.getContextPath()/javascripts/lib/trimpath-template-1.0.38.js?#include("admin/admin_version.txt.vm")" type="text/javascript"></script>
        <script src="$req.getContextPath()/javascripts/lib/angular.1.0.8.min.js?#include("admin/admin_version.txt.vm")" type="text/javascript"></script>
        <script src="$req.getContextPath()/javascripts/lib/angular-resource.1.0.8.min.js?#include("admin/admin_version.txt.vm")" type="text/javascript"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/build_base_observer.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/json_to_css.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/admin.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/agent.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/agent_observer.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/enhanced_modalbox.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/ajax_refresher.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/application.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/build_detail.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/build_detail_properties.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/builder.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/build_output_observer.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/cookie_utils.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/dashboard_global.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/dashboard_periodical_executer.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/filters.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/flash.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/i18n.js" charset="UTF-8"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/i18n_support.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/log_observer.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/material.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/my_cruise.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/pagination.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/pipeline_history.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/pipeline.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/pipeline_selector_cookie.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/sidebar.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/simple-pipeline.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/stage_detail_observer.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/tabs.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/test_helper.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/time_converter.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/timer.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/timer_observer.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/toolkit.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/transmessage.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/word_break_inserter.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/inplace-editor.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/server_configuration.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/micro_content_popup.js"></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/util.js" ></script>
        <script type="text/javascript" src="$req.getContextPath()/javascripts/user_options_on_header.js" ></script>
    #end

    <script type="text/javascript"> var contextPath = "$req.getContextPath()"; </script>
    <!--[if IE 6]><script type="text/javascript">window.cruise_is_running_in_ie6 = true;</script><![endif]-->
    <title>
        #if($title)
        $title
        #else
        $currentTab.name - Go
        #end
    </title>
</head>
#if(!$current_tab && $currentTab.name)
#set($current_tab = $currentTab.name)
#end
<body>
<div id="body_bg"><div id="body_bg_highlight"><div id="body_wrapper">

##    #if($_hide_collapse-sidebar-button)
        <div id="doc3" class="yui-t7">
##    #else
##        <div id="doc3" class="yui-t6">
##    #end


        <div id="header"><div class="header">
            <a href="$req.getContextPath()/pipelines" id="application_logo"></a>
            <div class="application_nav">

                    #if ($principal)
                    <ul class="user">
                        <li class="current_user icon">
                            <a href="#" class="current_user_name dropdown-arrow-icon icon">$principal</a>
                                <ul class="enhanced_dropdown hidden">
                                    <li>
                                        <a href="$req.getContextPath()/tab/mycruise/user">$l.localize("PREFERENCES_LOWER")</a>
                                    </li>
                                    <li class="logout">
                                        <a id="nav-logout" class="sign_out" href="/go/auth/logout">$l.localize("SIGN_OUT")</a>
                                    </li>
                              </ul>
                        </li>

                        <li class="help">
                          <a href="$req.getContextPath()/help/index.html" target="_blank">$l.localize("HELP_SMALL")</a>
                        </li>
                    </ul>
                    #else
                    <ul class="user">
                        <li class="help">
                          <a href="$req.getContextPath()/help/index.html" target="_blank">$l.localize("HELP_SMALL")</a>
                        </li>
                    </ul>
                    #end

                    <ul class="tabs">
                        <li id="cruise-header-tab-recent-activity"
                            class="#if($current_tab == 'pipeline' || $current_tab == 'Current Activity') current #end">
                            <a href="$req.getContextPath()/pipelines">$l.localize("PIPELINES")</a>
                        </li>
                        <li id="cruise-header-tab-environments">
                            <a href="$req.getContextPath()/environments">$l.localize("ENVIRONMENTS_CAPS")</a>
                        </li>
                        <li id="cruise-header-tab-agents" class="#if($current_tab == 'Agents') current #end">
                            <a href="$req.getContextPath()/agents">$l.localize("AGENTS")</a>
                        </li>

                        <li id="cruise-header-tab-admin"
                            class="#if($current_tab == 'Administration') current #end #if(!$userHasViewAdministratorRights) disabled-when-no-admin-rights #end admin">
                            #if(!$userHasViewAdministratorRights)
                                <span>$l.localize("ADMIN")</span>
                            #else
                                <a class="dropdown-arrow-icon" href="#" data-toggle="dropdown">$l.localize("ADMIN")</a>
                                <ul class="dropdown-menu" role="menu">
                                    #if($userHasAdministratorRights)
                                        #parse("shared/_dropdown_admin.vm")
                                    #elseif($userHasGroupAdministratorRights)
                                        #parse("shared/_dropdown_pipeline_group_admin.vm")
                                    #elseif($userHasTemplateAdministratorRights)
                                        #parse("shared/_dropdown_template_admin.vm")
                                    #end
                                </ul>
                            #end
                        </li>
                    </ul>
                    <div id="cruise_message_counts" class="cruise_messages"></div>
                    <div id="cruise_message_body" style="display:none;"></div>
                </div>
        </div></div>

            <div id="bd">
                   
