<div>
    <table class="build_cause list_table ">
        <tr class="failure_message">
            <td>
                <%= h(@failure_details.getMessage()) -%>
            </td>
        </tr>
        <tr class="change">
            <td>
                <%= h(@failure_details.getStackTrace()) -%>
            </td>
        </tr>
    </table>
</div>