<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2016 ThoughtWorks, Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:annotation-config/>

    <bean id="defaultPluginJarChangeListener" class="com.thoughtworks.go.plugin.infra.listeners.DefaultPluginJarChangeListener" />
    <bean id="defaultPluginJarLocationMonitor" class="com.thoughtworks.go.plugin.infra.monitor.DefaultPluginJarLocationMonitor" />
    <bean id="defaultPluginRegistry" class="com.thoughtworks.go.plugin.infra.plugininfo.DefaultPluginRegistry" />
    <bean id="goPluginDescriptorBuilder" class="com.thoughtworks.go.plugin.infra.plugininfo.GoPluginDescriptorBuilder" />
    <bean id="pluginWriter" class="com.thoughtworks.go.plugin.infra.PluginWriter" />
    <bean id="pluginValidator" class="com.thoughtworks.go.plugin.infra.PluginValidator" />
    <bean id="goFileSystem" class="com.thoughtworks.go.plugin.infra.commons.GoFileSystem" />
    <bean id="defaultPluginManager" class="com.thoughtworks.go.plugin.infra.DefaultPluginManager"  />
    <bean id="felixGoPluginOSGiFramework" class="com.thoughtworks.go.plugin.infra.FelixGoPluginOSGiFramework" />
    <bean id="defaultGoPluginOSGiManifestCreator" class="com.thoughtworks.go.plugin.infra.plugininfo.GoPluginOSGiManifest$DefaultGoPluginOSGiManifestCreator" />
    <bean id="pluginRequestProcessorRegistry" class="com.thoughtworks.go.plugin.infra.PluginRequestProcessorRegistry" />

    <bean id="PluginsZipUpdater" class="com.thoughtworks.go.plugin.infra.listeners.PluginsZipUpdater"/>
    <bean id="PluginsListListener" class="com.thoughtworks.go.plugin.infra.listeners.PluginsListListener"/>
    <bean id="pluginsZip"  class="com.thoughtworks.go.plugin.infra.commons.PluginsZip"/>
    <bean id="pluginsList"  class="com.thoughtworks.go.plugin.infra.commons.PluginsList"/>
    <bean id="zipUtil" class="com.thoughtworks.go.util.ZipUtil"/>
    <bean id="systemEnvironment" class="com.thoughtworks.go.util.SystemEnvironment"/>
</beans>
