<div id="pipeline-config"
     data-pipeline-api-url="<%= apiv1_admin_pipeline_url(pipeline_name: params[:pipeline_name]) %>"
     data-resource-names="<%= @all_resources.to_json %>"
     data-user-names="<%= @all_users.to_json %>"
     data-role-names="<%= @all_roles.to_json %>"
>
  <span class='page-spinner'></span>
</div>
