<% scope[:scm_material_revisions].each do |material_revision_in_diff_revisions| %>
    <%- if scope[:draw_wrapper_div] -%>
        <div>
    <%- end -%>
    <%= render :partial => 'comparison/material_modifications_table.html', :locals => {:scope => {:material => material_revision_in_diff_revisions.getMaterial(), :material_revision_in_diff_revisions => material_revision_in_diff_revisions}} %>
    <%- if scope[:draw_wrapper_div] -%>
        </div>
    <%- end -%>
<% end %>
<% scope[:dependency_material_revisions].each do |material_revision_in_diff_revisions| %>
    <%- if scope[:draw_wrapper_div] -%>
        <div>
    <%- end -%>
    <%= render :partial => 'comparison/dependency_material_modifications_table.html', :locals => {:scope => {:material => material_revision_in_diff_revisions.getMaterial(), :material_revision_in_diff_revisions => material_revision_in_diff_revisions}} %>
    <%- if scope[:draw_wrapper_div] -%>
        </div>
    <%- end -%>
<% end %>