#*************************GO-LICENSE-START*********************************
 * Copyright 2016 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *************************GO-LICENSE-END***********************************#

<div id="tab-content-of-notifications" class="wizard notification">

#if(!$smtpIsEnabled)
<p class="message warning">
    SMTP settings are currently not configured.
    If you are the administrator, you can configure email support at
    <a href="/go/admin/config_xml" style="text-decoration:underline">Server
        Configuration</a>.
</p>
#end

#if($!message)
<p id="serverside-message" class="message ${message.level}">$esc.html(${message.message})</p>
#end

<p id="error-message" class="message error error_message" style="display:none"></p>

<h1><strong>My Notifications</strong></h1>
<div class="content_wrapper_outer"><div class="content_wrapper_inner">
<div id="email-settings" class="aside">
    <form action="user" method="post" onsubmit="return myCruise.validate();">
        <input type="hidden" name="post.token" value="$session.getAttribute('post.token')"/>
        <h2>
            Email Settings
        </h2>
        
        <fieldset>
            <legend>Email</legend>
            <p>
                <input id="email" name="email" type="text" value="$esc.html($!{email})" style="display:none"/>
                <span id="email-text">#if ($email.isEmpty()) Email Not Set #else $esc.html($!{email}) #end</span>
            </p>
            <p class="checkbox">
                <input id="emailme" name="emailme"
                       disabled type="checkbox"
                       #if(${emailMe}) checked="checked" #end
                       #if(!$smtpIsEnabled) disabled="disabled" #end />
                <label for="emailme">Enable email notification</label>
            </p>
        </fieldset>
        <fieldset>
            <legend>My check-in aliases</legend>
            #if($matchers.toCollection().size() == 0)
                <p><span class="matcher">No matchers defined</span></p>
            #end
            <p>
            #foreach($matcher in $matchers.toCollection())
                    <span class="matcher">$esc.html($matcher)#if($velocityCount < $matchers.toCollection().size()), #end</span>
            #end
            </p>
            <p id="matchers-block" style="display:none">
                <input id="matchers" maxlength="255" name="matchers" type="text" value="$esc.html($!{matchers.toString()})" />
                <span class="tip">(comma separated)</span>
            </p>
        </fieldset>
        
        <fieldset class="edit-actions">
            <a id="edit-matchers" title="Edit the matcher" onclick="myCruise.editMatchers()" class="link_as_button"><span>Edit</span></a>
        </fieldset>
        
        <fieldset class="save-actions" style="display: none;">
            <button class="submit" id="save-matchers" type="submit" value="Save" name="save">
                <span>Save</span>
            </button>
            <button class="submit" type="reset" value="Cancel" onclick="myCruise.cancelMatchers()">
                <span>Cancel</span>
            </button>
        </fieldset>
    </form>
</div>


<div id="filters-settings" class="section">
    <form action="notification" method="post" id="notification_form" class="add-filter identity">
        <input type="hidden" name="post.token" value="$session.getAttribute('post.token')"/>

        <h2>Filters</h2>
        <fieldset>
            <input id="filterId" name="filterId" type="hidden"/>
            

            <p>
                <label for="pipeline">Pipeline</label>
                <select id="pipeline" name="pipeline" onchange="myCruise.updateStages()"></select>

            </p>

            <p>
                <label for="stage">Stage</label>
                <select id="stage" name="stage"></select>
            </p>

            <p>
                <label for="event">Event</label>
                <select id="event" name="event">
                    <option value="All" selected="selected" #if ($event) #if ($event == '') selectd="selected" #end #end >All</option>
                    <option value="Passes" #if ($event) #if ($event == 'Passes') selectd="selected" #end #end >Passes</option>
                    <option value="Fails" #if ($event) #if ($event == 'Fails') selectd="selected" #end #end >Fails</option>
                    <option value="Breaks" #if ($event) #if ($event == 'Breaks') selectd="selected" #end #end >Breaks</option>
                    <option value="Fixed" #if ($event) #if ($event == 'Fixed') selectd="selected" #end #end >Fixed</option>
                    <option value="Cancelled" #if ($event) #if ($event == 'Cancelled') selectd="selected" #end #end >Cancelled</option>
                </select>
            </p>
            
            <p class="mycheckin">
                <input id="myCheckin" name="myCheckin" type="checkbox" checked="$!{myCheckin}"/>
                <label for="myCheckin">Only if it contains my check-ins</label>
            </p>
        </fieldset>
        
        <div class="submit dark-action-bar">
            <button type="submit" class="submit primary" value="Add" id="add-notification-filter" >
                <span>Add</span>
            </button>          
            <button type="button" class="submit" value="Reset" onclick="myCruise.resetFilter()" id="reset-notification-filter">
                <span>Reset</span>
            </button>

        </div>
    </form>
    
    <table class="filters">
        <caption>Notification Filters</caption>
        <thead>
            <tr>
                <th scope="col">Pipeline</th>
                <th scope="col">Stage</th>
                <th scope="col">Event</th>
                <th scope="col">Check-ins Matcher</th>
                <th scope="col" class="last">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            #foreach($filter in $notificationFilters)
            <tr class="#if( 0 == $velocityCount%2 ) even #else odd #end">
                <td>$esc.html($filter.pipelineName)</td>
                <td>$esc.html($filter.stageName)</td>
                <td>$esc.html($filter.event)</td>
                <td>#if( $filter.myCheckin ) Mine #else All #end</td>
                <td class="last">
                    <button id="$esc.html("del_${filter.pipelineName}_${filter.stageName}_${filter.event}")" class="submit"
                            onclick="myCruise.deleteFilter('$filter.id')"><span>Delete</span>
                    </button>
                </td>
            </tr>
            #end
        </tbody>
    </table>
    
    <div class="clear"></div>
</div>
</div></div>

<script type="text/javascript">
    var myCruise = new MyCruise(${pipelines});
</script>
</div>

