<div id="app-menu">
  <!--  populated from header_footer_shim.js-->
  <%= hidden_field_tag("server_time", Time.now.to_i, :id => "server_timestamp") -%>
</div>
<div id="back_to_top" class='back_to_top' title="Scroll to Top">Top</div>
