<script type="text/javascript">

    jQuery(document).ready(function () {
        var graph_data = <%= raw JSON.pretty_generate(scope[:graph_data]) %>;
        showStageDurationGraph(
            "<%= "Stage Duration - #{scope[:start_end_dates].first} to #{scope[:start_end_dates].second}" -%>",
            document.getElementById('stage-duration-graph'),
            graph_data,
            document.getElementById('reset_zoom')
        );
    });
</script>
<a id="reset_zoom" style="display: none;" class="link_as_button reset_zoom_link">Reset zoom</a>
<canvas id="stage-duration-graph" style="width: 100%; height: 400px;">
</canvas>
