<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2018 ThoughtWorks, Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-init-method="init">

  <context:annotation-config/>
  <context:component-scan base-package="com.thoughtworks.go.agent.statusapi"/>

  <context:component-scan base-package="com.thoughtworks.go.plugin.infra"/>
  <context:component-scan base-package="com.thoughtworks.go.util"/>
  <context:component-scan base-package="com.thoughtworks.go.util.scheduling"/>
  <context:component-scan base-package="com.thoughtworks.go.agent"/>
  <context:component-scan base-package="com.thoughtworks.go.plugin.access"/>
  <context:component-scan base-package="com.thoughtworks.go.publishers"/>
  <context:component-scan base-package="com.thoughtworks.go.config"/>

  <bean id="zipUtil" class="com.thoughtworks.go.util.ZipUtil"/>
  <bean id="systemEnvironment" class="com.thoughtworks.go.util.SystemEnvironment"/>
  <bean id="subprocessLogger" class="com.thoughtworks.go.util.SubprocessLogger"/>

  <!-- Loads the System Properties -->
  <bean id="propertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath*:agent.properties</value>
      </list>
    </property>
    <!--SYSTEM_PROPERTIES_MODE_OVERRIDE : Check system properties first, before trying the specified properties.
        This allows system properties to override any other property source.-->
    <property name="systemPropertiesMode" value="2"/>
  </bean>


  <bean id="clock" class="com.thoughtworks.go.util.SystemTimeClock"/>

  <bean id="httpClient" class="com.thoughtworks.go.agent.common.ssl.DefaultGoAgentServerHttpClient">
    <constructor-arg ref="httpClientBuilder"/>
  </bean>

  <bean id="httpClientBuilder" class="com.thoughtworks.go.agent.common.ssl.GoAgentServerHttpClientBuilder">
    <constructor-arg ref="systemEnvironment"/>
  </bean>
</beans>
