<div class="vsm-analytics-panel" id="vsm-analytics-panel">
  <div id="select-pipelines" class="vsm-analytics-selection">
    <ul class="select_streams">
      <% if scope[:is_vsm_for_pipeline] %>
        <li class="analytics-upstream empty"/>
      <% end %>
      <li>
          <span class="analytics-current">
            <%= scope[:current] %>
          </span>
      </li>
      <li class="analytics-downstream empty"/>
    </ul>
    <span class="vsm-analytics-help">Select a pipeline/material to view analytics</span>
  </div>

  <div id="selected-pipelines" class="vsm-analytics-selection hide">
    <ul class="select_streams">
      <% if scope[:is_vsm_for_pipeline] %>
        <li class="analytics-upstream">
          <span class="selected-name"></span>
        </li>
      <% end %>
      <li>
          <span class="analytics-current">
            <%= scope[:current] %>
          </span>
      </li>
      <li class="analytics-downstream">
        <span class="selected-name"></span>
      </li>
    </ul>
  </div>
  <div class="vsm-analytics-actions">
    <button title="View Analytics" class="view-vsm-analytics btn-primary disabled">
      View Analytics
    </button>
    <button class="analytics-close"></button>
  </div>
  <div id="analytics-overlay" class="analytics-overlay hide"></div>
</div>