<% @view_title = "Value Stream Map of #{params[:material_fingerprint]}" -%>

<div class="page_header">
  <span class="page_name">Value Stream Map</span>
  <ul class="entity_title">
    <li class="name">
      <span class="label">Material</span>
      <%= @material_display_name %></li>
    <li class="last">
      <span class="label">Revision</span>
      <h1><%= params[:revision] %> </h1></li>
  </ul>
</div>

<div class="content">
  <div id="vsm-container">
  </div>
  <div id="vsm-overlay">
    <div class="popup vsm-entity"></div>
  </div>
</div>

<script type="text/javascript">
    Util.on_load(function() {

        resizeMapContainer();
        function resizeMapContainer() {
            $j( "#vsm-container").height($j(window).height() - 160);
        }
        $j(window).resize(function() {
            resizeMapContainer();
        });

        $j('#pre-loader-overlay').show();

        jQuery.ajax({
            url: "<%= vsm_show_material_path(:material_fingerprint => params[:material_fingerprint], :revision => params[:revision], :format => 'json')%>"
        }).done(function (data) {
            vsm = new VSM(data, "#vsm-container", new Graph_Renderer("#vsm-container"), "#pre-loader-overlay").render();
        })

    })
</script>
