#*************************GO-LICENSE-START*********************************
 * Copyright 2016 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *************************GO-LICENSE-END***********************************#

<div class="build-cause-summary-container">
    <table>
        {var materials = new MaterialArray(materialRevisions)}
        {for material in materials.all}
        <tbody>
        <tr>
            <th colspan="3" class="last highlight-${%material.changed%}">${% material.name() %}</th>
        </tr>
        {for modification in material.modifications}
        {if material.shouldRenderModifications()}
        <tr>
            <td class="highlight-${%material.changed%} user">${% modification.user.escapeHTML() %}</td>
            <td class="highlight-${%material.changed%} comment">
                {if material.isPackage()}
                #parse('shared/_package_material_revision_comment.vm')
                {else}
                    ${% modification.comment.replace(/\n/g,"<br>") %}
                {/if}
            </td>
            <td class="last_highlight-${%material.changed%} revision">${% modification.revision %}</td>
        </tr>
        {else}
        <tr>
            <td colspan="3" class="last_highlight-${%material.changed%} revision">
                <a href="$req.getContextPath()/${% material.revision_href %}">${% material.revision %}</a>
            </td>
        </tr>
        {/if}
        {/for}
        </tbody>
        {/for}
    </table>
</div>