#*************************GO-LICENSE-START*********************************
 * Copyright 2014 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *************************GO-LICENSE-END***********************************#

{eval}
    pipelineSelector.hideSpinner();
    pipelinePage.fixIEZIndexBugs(300);
{/eval}
{if data.pipelines && data.pipelines.length > 0}
{for pipeline in data.pipelines}
{if !pipeline.hide_in_ui}
<div class="pipeline-container" style="${%pipelinePage.fixIEZIndexBugs()%}">
    {if pipelinePage.isPipelinePaused(pipeline)}
    <h1 class="paused-build">
    {else}
    <h1>
    {/if}
        <span class="pipeline-buttons">
        {if pipelinePage.isPipelineScheduleButtonEnabled(pipeline)}
            <a href="javascript:void(0)" id="reschedule-${%pipeline.name%}"
               onclick="pipelineActions.schedulePipeline('${%pipeline.name%}', this);"
               class="icon-link {if pipelineActions.shouldShowPipelineScheduleButtonAsSpinner(pipeline)} submiting-link{else} schedule-build-link-enabled{/if}"
               title="Trigger pipeline"></a>
        {else}
            <a href="javascript:void(0)" id="reschedule-${%pipeline.name%}"
               class="icon-link {if pipelineActions.shouldShowPipelineScheduleButtonAsSpinner(pipeline)} submiting-link{else} schedule-build-link-disabled{/if}"
               title="Trigger pipeline"></a>
        {/if}
        {if pipelinePage.isPipelinePaused(pipeline)}
            {if pipelinePage.canPause(pipeline)}
            <a href="javascript:void(0)" id="pause-${%pipeline.name%}" onclick="pipelineActions.unpausePipeline('${%pipeline.name%}', this);" class="icon-link {if pipelinePage.shouldShowPipelinePauseButtonAsSpinner(pipeline)} submiting-link{else} unpause-build-link{/if}" title="Resume scheduling"></a>
            {else}
            <a href="javascript:void(0)" id="pause-${%pipeline.name%}" class="icon-link unpause-build-link-disabled"></a>
            {/if}
        {else}
            {if pipelinePage.canPause(pipeline)}
            <a href="javascript:void(0)" id="pause-${%pipeline.name%}" onclick="pipelineActions.pausePipeline('${%pipeline.name%}', this);" class="icon-link {if pipelinePage.shouldShowPipelinePauseButtonAsSpinner(pipeline)} submiting-link{else} pause-build-link{/if}" title="Stop scheduling"></a>
            {else}
            <a href="javascript:void(0)" id="pause-${%pipeline.name%}" class="icon-link pause-build-link-disabled"></a>
            {/if}
        {/if}
        </span>
        <a href="$req.getContextPath()/tab/pipeline/history/${% pipeline.name %}" title="View pipeline history" id="${% pipeline.name %}-history">
            ${% pipeline.name %}<span class="pipeline-nav">[pipeline activity]</span></a>
        <span class="paused-status">${%pipelinePage.pauseStatusText(pipeline)%}</span>
        <div class="clear"></div>
    </h1>
    <div class="pipeline-stages">
    {if pipeline.stages && pipeline.stages.length > 0}
    {for stage in pipeline.stages}
        <div class="stage-container pipeline-${% stage.current_status %} {if pipelinePage.isStageCollapsed(stage.uniqueStageId)} closed{/if}" id="pipeline-${% stage.uniqueStageId %}" style="${%pipelinePage.fixIEZIndexBugs()%}">
            <h2>
                <table>
                    <thead>
                        <tr>
                            <th class="stage-name">
                                <button id="${% stage.uniqueStageId %}-collapse-link" title="Collapse/Expand ${%stage.stageName%}" onclick="pipelinePage.toggleStagePanel('${% stage.uniqueStageId %}')" class="collapse-or-expand-button {if pipelinePage.isStageCollapsed(stage.uniqueStageId)} collapsed{else} expanded{/if}">Collapse/Expand</button>
                                <a href="$req.getContextPath()/tab/pipeline/${% pipeline.name %}/${% stage.stageName %}" title="View stage activity">${%stage.stageName.truncate(30)%}</a>
                                <a href="$req.getContextPath()/tab/pipeline/${% pipeline.name %}/${% stage.stageName %}" title="View stage activity" class="pipeline-nav">[stage activity]</a>
                            </th>
                            <th>
                                <span class="stage-buttons">
                                  {if pipelinePage.isCancelButtonEnabled(stage.current_status) && stage.getCanCancel == 'true'}
                                      <a href="javascript:void(0)" onclick="pipelineActions.cancelPipeline(${%stage.id%}, this);" class="icon-link {if pipelinePage.shouldShowStageCancelButtonAsSpinner(stage.id)} submiting-link{else} cancel-build-link{/if}" title="Cancel this stage"></a>
                                  {/if}
                                  {if (stage.getCanRun == 'true' && !pipelinePage.isPipelinePaused(pipeline)) || stageActions.spinningRerunButton.include(pipeline.name + stage.pipelineCounterOrLabel + stage.stageName)}
                                       <button id="rerun-${%pipeline.name%}-${%stage.pipelineCounterOrLabel%}-${%stage.stageName%}" title="rerun this stage"
                                               class="{if stageActions.spinningRerunButton.include(pipeline.name + stage.pipelineCounterOrLabel + stage.stageName)}submiting-{/if}rerun"
                                               {if !stageActions.spinningRerunButton.include(pipeline.name + stage.pipelineCounterOrLabel + stage.stageName)}onclick="stageActions.runStage('${%pipeline.name%}', '${%stage.pipelineCounterOrLabel%}', '${%stage.stageName%}', this)"{/if}>Rerun</button>
                                  {/if}
                                </span>

                                <span class="current-revision-status">
                                {if stage.id > 0}
                                    <a href="$req.getContextPath()/pipelines/${% stage.stageLocator %}{if 'failed' == stage.current_status}#tab-failures{/if}{if 'passed' == stage.current_status}#tab-artifacts{/if}" class="building-detail-link" title="View stage details">
                                {/if}
                                {if stage.id > 0}Label ${% stage.current_label %}{/if}
                                {if stage.stageCounter > 1}/ Counter ${% stage.stageCounter %}{/if}
                                    ${% stage.current_status %}
                                {if stage.stage_completed_date}
                                    ${% stage.stage_completed_date %}
                                {/if}
                                {if stage.id > 0}
                                    <span class="pipeline-nav">[stage details]</span>
                                    </a>
                                {/if}
                                </span>

                                <span class="divider">|</span>

                                <span id="stage-${% stage.id %}-buildCause" class="popup-${% pipelinePage.buildCauseActor.getBuildCauseClass(stage.id) %}">
                                    {if stage.buildCause ==  'No modifications'}
                                        ${% stage.buildCause %}
                                    {else}
                                        <a href="javascript:void(0)" onclick="pipelinePage.buildCauseActor.hideOrShowBuildCause('${%stage.id%}')" title="See what caused this build">${% stage.buildCause %}</a>
                                        <div id="stage-${%stage.id%}-buildCauseSummary" class="popup ${% pipelinePage.buildCauseActor.getPositionClass(stage.id) %}" style="${% pipelinePage.buildCauseActor.getStyleText(stage.id) %}">
                                            <div class="popup-arrow"></div>
                                            <button class="close-popup" onclick="pipelinePage.buildCauseActor.hideOrShowBuildCause('${%stage.id%}')"></button>
                                                {var materialRevisions = stage.materialRevisions}
                                                #parse("pipeline/_material_revisions_popup.vm")
                                        </div>
                                    {/if}
                                </span>

                                <span class="divider">|</span>

                                <span class="last-success-revision">
                                    {if !stage.last_successful_label}
                                        no successful stage
                                    {else}
                                        <a href="$req.getContextPath()/pipelines/${%stage.last_successful_stage_locator%}" title="View stage details for ${%stage.last_successful_label%}">
                                            last successful: ${%stage.last_successful_label%}</a>
                                    {/if}
                                </span>
                                <div style="clear:both"></div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </h2>

            <div class="stage-build-plan-container">
                {for build in stage.builds}
                <div class="stage-build-plan-status ${%build.current_status%}">
                    <div class="stage-build-plan-content">
                        <h3>
                            <div class="build-information">
                            {if build.id > 0}
                                <a id="${% build.name %}_link"
                                   class="buildplan-name"
                                   href="$req.getContextPath()/tab/build/detail/${% build.buildLocator %}{if 'failed' == build.current_status}#tab-failures{/if}{if 'passed' == build.current_status}#tab-artifacts{/if}"
                                   title="Job Detail of ${% build.name %}">${% build.name %}</a>
                                <a id="${%pipeline.name%}_${%stage.stageName%}_${%build.name%}_link" class="buildplan-name" href="$req.getContextPath()/tab/build/detail/${% build.buildLocator %}{if 'failed' == build.current_status}#tab-failures{/if}{if 'passed' == build.current_status}#tab-artifacts{/if}" title="Job Detail of ${% build.name %}">
                                    <span class="status-message">
                                        {if pipelinePage.ifShowAgentInBuildStatusMessage(build.current_status)}
                                            ${%build.current_status %}{if build.current_build_event} (${% build.current_build_event %}){/if} on ${% build.agent %}
                                        {else}
                                            ${% build.current_status %}{if build.current_build_event} (${% build.current_build_event %}){/if}
                                        {/if}
                                    </span>
                                    <span class="pipeline-nav">[view details]</span>
                                </a>
                            {else}
                                <span class="buildplan-name">${% build.name %}</span>
                            {/if}
                            </div>
                            {if isEstimatable(build.current_status) }
                              <div class="progress-info">
                                {if build.last_build_duration && build.last_build_duration != '' && (parseInt(build.current_build_duration) <= parseInt(build.last_build_duration))}
                                    <div class="progress-bar">
                                        <div class="progress" style="width: {if parseInt(build.current_build_duration) > parseInt(build.last_build_duration)}100{else}${ 100 * parseInt(build.current_build_duration) / parseInt(build.last_build_duration) }{/if}%;">
                                        </div>
                                    </div>
                                {/if}
                                {if build.last_build_duration && build.last_build_duration != ''}
                                    {if parseInt(build.current_build_duration) > parseInt(build.last_build_duration)}
                                        Longer by: ${% moment.duration(parseInt(build.current_build_duration) - parseInt(build.last_build_duration), 's').humanizeForGoCD() %}
                                    {else}
                                        Elapsed: ${% moment.duration(parseInt(build.current_build_duration), 's').humanizeForGoCD() %}, ETA: ${% moment.duration(parseInt(build.last_build_duration) - parseInt(build.current_build_duration), 's').humanizeForGoCD() %}
                                    {/if}
                                {else}
                                    Elapsed: ${% moment.duration(parseInt(build.current_build_duration), 's').humanizeForGoCD() %}
                                {/if}
                              </div>
                            {/if}
                            <div class="clear"></div>
                        </h3>
                    </div>
                    <div class="clear"></div>
                </div>
                {/for}
            </div>
        </div><!--stage container end -->
        {/for}
        {/if}
    </div>
</div><!--pipeline container end -->
<div class="pipeline-divider"></div>
{/if}
{/for}
{/if}
