#*************************GO-LICENSE-START*********************************
 * Copyright 2014 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *************************GO-LICENSE-END***********************************#

#set($_page_title="Current Activity")
#set($extra_css_list = ['toolkit', 'pipeline-tab'])
#parse("shared/_header.vm")

<textarea rows="0" cols="0" id="pipeline-list-template" style="display: none;">
#parse('pipeline/_pipeline_plan_list_jstemplate.vm')
</textarea>

<!-- sidebar -->
<div id="sidebar" class="yui-b">
    #parse("sidebar/_pipelines_selector.vm")
</div>
<!-- end sidebar -->

<div id="yui-main">
    <div class="yui-b">
        <!-- breadcrumbs -->
        #set($current_page="no-crumbs")

        #set($show_action_bar_in_breadcrumbs = "pipeline/_pipeline_action_bar")
        #parse("shared/_breadcrumbs.vm")
        <!-- /breadcrumbs -->

        #parse("shared/_page_intro_top.vm")
        <p>This view shows you the most recent build activities happening in each stage of every pipeline in Cruise.
           A stage in a pipeline can only have one activity occurring at one time; as a result,
            each stage in this view may be part of a different build label. Click the activity links to see all build activity in the stage or pipeline;
            click the detail links to see all information available for the stage or job within a specific label.
            <a class="more" target="_blank" title="Learn more from help documentation" href="https://docs.gocd.org/current/navigation/pipeline_activity_page.html">more...</a>
        </p>
        #parse("shared/_page_intro_bottom.vm")

        <!-- pipeline start -->
        <div id="build-pipelines" class="container-in-body">
            Loading...
            <img src="$req.getContextPath()/$concatenatedSpinnerIconFilePath" alt="loading..."/>
        </div>
        <!-- pipeline end -->
    </div>
</div>

</div>
<!-- end bd -->
#parse("shared/_flash_message.vm")

<script type="text/javascript">
    var pipelinePage = new PipelinePage();
    var pipelineActions = new PipelineActions();
    var stageActions = new StageActions();
    var pipelineSelector = new PipelineSelector();
    var dashboard_periodical_executor = new DashboardPeriodicalExecutor('pipelineStatus.json');

    var pipelineObserver = new PipelineObserver('pipelines');
    dashboard_periodical_executor.register(pipelineObserver);

    dashboard_periodical_executor.start();
</script>

#parse("shared/_footer.vm")
