$dashboard-tabs-padding: 30px;
$dashboard-tab-bg: #fff;
$dashboard-tab-primary-text-color: #943a9e;
$dashboard-tab-secondary-text-color: #3c5d73;
$dashboard-tab-action-button-color: #6b808c;
$dashboard-tab-height: 50px;
$dashboard-add-tab-width: 40px;
$dashboard-tab-list-toggle-width: $dashboard-add-tab-width;
$dashboard-tabs-border-color: #e9eeef;
$dashboard-tabs-border-radius: 0;
$dashboard-tabs-pager-width: $dashboard-add-tab-width;
$dashboard-tab-current-marker-height: 10px;
$dashboard-tabs-box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);

.dashboard-tabs {
  @include unselectable;

  position:         relative;
  background-color: $dashboard-tab-bg;
  border-radius:    $dashboard-tabs-border-radius;
  line-height:      $dashboard-tab-height;
  height:           $dashboard-tab-height;
  padding:          0 $dashboard-tabs-padding;
  margin-bottom:    20px;
  box-shadow:       $dashboard-tabs-box-shadow;

  .dashboard-tab-edit, .dashboard-tab-remove {
    cursor: pointer;
  }

  .dashboard-tab-edit {
    @include icon-before($type: edit);
  }

  .dashboard-tab-remove {
    @include icon-before($type: trash);
  }

  .add-tab, .tabs-list-dropdown-widget {
    position:     absolute;
    top:          0;
    border-left:  1px solid $dashboard-tabs-border-color;
    border-right: 1px solid $dashboard-tabs-border-color;
    padding:      0 10px;
    font-size:    17px;
    cursor:       pointer;
    height:       $dashboard-tab-height;
  }

  .add-tab {
    right:      calc(#{$dashboard-tab-list-toggle-width} + #{$dashboard-tabs-padding});
    width:      $dashboard-add-tab-width;
    color:      $dashboard-tab-primary-text-color;
    text-align: center;

    .add-icon {
      @include icon-before($type: plus);
    }
  }

  .tabs-list-dropdown-widget {
    top:           0;
    right:         $dashboard-tabs-padding;
    width:         $dashboard-tab-list-toggle-width;
    color:         $dashboard-tab-secondary-text-color;
    border-radius: 0 $dashboard-tabs-border-radius $dashboard-tabs-border-radius 0;

    .tabs-list-dropdown-toggle {
      position: absolute;
      top:      0;
      left:     0;
      width:    100%;
      height:   100%;
      outline:  none;

      .tabs-list-icon {
        @include icon-before($type: chevron-down);
      }
    }

    .tabs-list {
      position:      absolute;
      top:           100%;
      right:         0;
      background:    $dashboard-tab-bg;
      margin:        0;
      padding:       0 20px;
      border-top:    1px solid $dashboard-tabs-border-color;
      border-radius: 0 0 $dashboard-tabs-border-radius $dashboard-tabs-border-radius;
      list-style:    none;
      font-size:     14px;
      z-index:       9;
      overflow-y:    auto;
      max-height:    65vh;
      box-shadow:    $dashboard-tabs-box-shadow;


      li {
        @include truncate-to-width($max: 210px);

        margin:         0;
        padding:        10px 0;
        border:         0;
        border-bottom:  1px dashed $dashboard-tabs-border-color;
        text-transform: uppercase;
        font-weight:    700;

        &.current, &:hover {
          color: $dashboard-tab-primary-text-color;
        }

        &:last-of-type {
          border-bottom: 0;
        }
      }
    }
  }

  .edit-dropdown {
    position:      absolute;
    top:           100%;
    left:          0;
    z-index:       9;

    background:    $dashboard-tab-bg;
    color:         $dashboard-tab-action-button-color;
    border-radius: 3px;
    font-weight:   normal;
    line-height:   initial;
    box-shadow:    $dashboard-tabs-box-shadow;

    .dashboard-tab-action {
      display:       inline-block;
      margin:        0;
      padding:       5px 15px;
      border-radius: $dashboard-tabs-border-radius;

      &:first-of-type {
        border-right: 1px solid $dashboard-tabs-border-color;
      }
    }
  }

  .deny-action, .edit-dropdown .deny-action {
    color:        #aaa;
    border-color: #aaa;
    cursor:       not-allowed;
  }
}

.dashboard-tabs-sortable, .dashboard-tabs-scrollable {
  position:       relative;
  margin:         0;
  padding:        0;
  vertical-align: top;
  white-space:    nowrap;
}

.dashboard-tabs-sortable {
  padding-bottom: 100px;
  width:          100%;
  overflow-x:     auto;
  overflow-y:     hidden;
  outline:        none;
}

.dashboard-tabs-scrollable {
  padding:  0 $dashboard-tabs-pager-width;
  width:    calc(100% - #{$dashboard-add-tab-width} - #{$dashboard-tab-list-toggle-width});
  overflow: hidden;

  .page-prev, .page-next {
    position:     absolute;
    top:          0;

    border-right: 1px solid $dashboard-tabs-border-color;
    border-left:  1px solid $dashboard-tabs-border-color;

    width:        $dashboard-tabs-pager-width;
    height:       $dashboard-tab-height;

    text-align:   center;
    font-size:    21px;
    font-weight:  600;
    line-height:  $dashboard-tab-height;

    color:        lighten($dashboard-tab-secondary-text-color, 50%);
    cursor:       default;
  }

  &.paged {
    .page-prev, .page-next {
      color:  $dashboard-tab-secondary-text-color;
      cursor: pointer;
    }
  }

  .page-prev {
    @include icon-before($type: angle-left);
    left: 0;
  }

  .page-next {
    @include icon-before($type: angle-right);
    right: 0;
  }
}

.dashboard-tab {
  display:      inline-block;
  border-right: 1px solid $dashboard-tabs-border-color;
  padding:      0 10px;
  font-weight:  600;
  cursor:       pointer;
  position:     relative;
  white-space:  nowrap;
  height:       $dashboard-tab-height;
  color:        $dashboard-tab-secondary-text-color;
  outline:      none;

  &:active, &:focus {
    outline: none;
  }

  &:first-of-type {
    margin-left: 0;
  }

  > * { vertical-align: top; }

  .drag-icon {
    @include sort-cursor;
    @include grip-icon;

    font-size: 12px;

    &:active {
      @include sort-cursor-active;
    }
  }

  .tab-name {
    @include truncate-to-width($max: 210px);

    text-transform: uppercase;
    margin:         0 10px;
    margin-right:   15px;
    display:        inline-block;
  }

  &.current {
    color:         $dashboard-tab-primary-text-color;
    cursor:        default;
    border-bottom: 3px solid $dashboard-tab-primary-text-color;

    .tab-name {
      margin-right: 0;
    }
  }

  &.draggable-source--is-dragging {
    @include sort-cursor-active;

    &:after {
      display: none;
    }

    > * {
      visibility: hidden;
    }
  }

  &.draggable-mirror {
    background:  $dashboard-tab-bg;
    line-height: $dashboard-tab-height;
    border:      0;
    box-shadow:  0 0 10px rgba(255, 255, 255, 0.21);
    z-index:     5;
  }

  .tab-dropdown-toggle {
    display:     inline-block;
    margin-left: 7px;
    cursor:      default;

    .dropdown-btn {
      @include icon-before($type: caret-down);

      cursor: pointer;

      &.deny-action {
        cursor: not-allowed;
      }
    }
  }
}

.actionable-message {
  position:      absolute;
  top:           calc(100% + #{$dashboard-tab-current-marker-height});
  left:          0;
  padding:       10px;
  padding-right: 30px;
  border:        0;
  border-radius: $dashboard-tabs-border-radius;
  background:    #fff;
  color:         #333;
  z-index:       25;
  box-shadow:    $dashboard-tabs-box-shadow;
  line-height:   initial;

  > * {
    vertical-align: middle;
  }

  .button {
    margin:      0;
    margin-left: 10px;
    font-size:   inherit;
    padding:     5px 10px;
  }

  .btn-link {
    padding: 5px 0;
    color:   #333;
  }

  .button, .button:active, .button:focus {
    outline: 0;
  }

  .revert {
    @include icon-before($type: close);

    position:  absolute;
    right:     10px;
    top:       50%;
    transform: translateY(-50%);
    cursor:    pointer;
  }

  &:before {
    content:       "";
    position:      absolute;
    top:           -$dashboard-tab-current-marker-height;
    left:          20px;
    width:         0;
    height:        0;
    border-bottom: $dashboard-tab-current-marker-height solid #fff;
    border-left:   $dashboard-tab-current-marker-height solid transparent;
    border-right:  $dashboard-tab-current-marker-height solid transparent;
  }
}

.server-error-response {
  display:     flex;
  align-items: center;

  .alert-icon {
    @include icon-before($type: exclamation-circle);

    margin-right: 10px;
    font-size:    150%;
    color:        map-get($foundation-palette, alert);
  }

  .reason {
    display: inline-block;
  }
}

.personalization-update-failed {
  .server-error-response {
    float: left;
  }
}

.overlay.delete-view {
  width: 500px;

  .overlay-content {
    height: unset;

    .view-name {
      font-weight: 700;
    }
  }
}
