$dashboard-tab-bg: #fff;
$dashboard-tab-height: 45px;
$dashboard-add-tab-width: 34px;
$dashboard-tabs-border-color: #ccc;
$dashboard-tabs-border-radius: 3px;
$dashboard-tabs-box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);

.dashboard-tabs {
  position:         relative;
  background-color: $dashboard-tab-bg;
  border-radius:    $dashboard-tabs-border-radius;
  line-height:      $dashboard-tab-height;
  height:           $dashboard-tab-height;
  margin-bottom:    20px;
  box-shadow:       $dashboard-tabs-box-shadow;

  .add-tab {
    display:       inline-block;
    border-right:  1px solid #ccc;
    border-radius: 0 0 $dashboard-tabs-border-radius $dashboard-tabs-border-radius;
    padding:       0 10px;
    width:         $dashboard-add-tab-width;
    color:         #b66fc2;
    font-size:     17px;
    cursor:        pointer;
  }

  .edit-dropdown {
    position:      absolute;
    top:           100%;
    left:          0;
    z-index:       9;

    background:    #fff;
    color:         #000;

    margin-top:    1px;
    padding:       5px 20px 20px;

    border-radius: 0 0 $dashboard-tabs-border-radius $dashboard-tabs-border-radius;
    width:         380px;
    font-weight:   normal;
    line-height:   initial;
    box-shadow:    $dashboard-tabs-box-shadow;

    .edit-dropdown-text {
      display:       inline-block;
      margin-bottom: 5px;
      font-size:     12px;
      color:         #666;
    }

    .edit-dropdown-actions {
      .button {
        margin:        0;
        border-radius: unset;
        background:    #ccc;
        border:        1px solid $dashboard-tabs-border-color;
        color:         #000;
        box-shadow:    unset;

        &.selected {
          background: #fff;
          color:      #b66fc2;
        }
      }
    }

    .fa {
      margin-left:   15px;
      padding:       5px 10px;
      color:         #627884;
      border:        1px solid $dashboard-tabs-border-color;
      border-radius: $dashboard-tabs-border-radius;
    }

    .deny-action {
      color:        #e1e6ea;
      border-color: #e7e7e7;
      cursor:       not-allowed;
    }
  }
}

.dashboard-tab {
  display:      inline-block;
  border-right: 1px solid $dashboard-tabs-border-color;
  margin-left:  5px;
  padding:      0 10px;
  font-weight:  700;
  white-space:  nowrap;
  height:       $dashboard-tab-height;

  &:first-of-type {
    margin-left: 0;
    border-left: 1px solid $dashboard-tabs-border-color;
  }

  > * { vertical-align: top; }

  .drag-icon {
    @include grip-icon;

    font-size: 12px;
  }

  .tab-name {
    @include truncate-to-width($max: 210px);

    text-transform: uppercase;
    margin:         0 10px;
    margin-right:   15px;
    display:        inline-block;
  }

  &.current {
    color:  #b66fc2;
    cursor: default;

    .tab-name {
      margin-right: 0;
    }
  }

  .tab-dropdown-toggle {
    display:     inline-block;
    margin-left: 7px;
    cursor:      default;

    .fa { cursor: pointer; }
  }
}

.overlay.delete-view {
  width: 500px;

  .overlay-content {
    height: unset;

    .view-name {
      font-weight: 700;
    }
  }
}
