<% if scope[:md5_match] %>
<%= form_tag(move_pipeline_to_group_path(:pipeline_name => scope[:pipeline_name]), :method => :put) %>
  <%= md5_field %>
 <input type="hidden" name="group_name" />
 <ul>
    <% scope[:possible_groups].each do |group| %>
        <li class="move_to_group_option"><a><%= group -%></a></li>
    <% end %>
 </ul>
<%= end_form_tag %>
<% else %>
    <p>Failed to load groups. Configuration file has been modified by someone else. Please reload the page</p>
<% end %>