<div class="console-area">
<div class="console-action-bar">
    <div>
        <a class="auto-scroll" title="Scroll to bottom">Scroll to end of logs</a>
        <a href="$req.getContextPath()/files/${presenter.consoleoutLocator}">Raw output</a>
        <a class='change-theme' href="javascript:void(0);">Change theme</a>
    </div>
</div>
<pre class="buildoutput_pre"></pre>
<div class="console-footer-action-bar">
    <div>
        <a href="javascript:void(0)" class="back-to-top-in-console"><span class="back-to-top-icon"></span>Back to top</a>
    </div>
</div>
#if($presenter.isCompleted())
<div class="widget" id="build-output-console-warnning" style="display: none;">No console output.</div>
#end
</div>
