#*************************GO-LICENSE-START*********************************
 * Copyright 2016 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *************************GO-LICENSE-END***********************************#

<div id="tab-content-of-properties" class="widget" $properties_extra_attrs>
    <table id="build-peroperties-table" class="simple">
        <a href="$req.getContextPath()/properties/search?pipelineName=${presenter.pipelineName}&stageName=${presenter.stageName}&jobName=${presenter.buildName}&limitPipeline=${presenter.pipelineCounter}"
           class="export-to-excel">Export property history to spreadsheet (csv)</a>
        <tr class="table-top">
            <th class="build-properties-key-column" scope="col">Property name</th>
            <th class="build-properties-value-column" scope="col">Property value</th>
            <th class="build-properties-operations-column last" scope="col"></th>
        </tr>
        
        #foreach ($property in $presenter.getProperties())
        <tr id="property-of-$property.key" class="#if ($velocityCount % 2 == 0) even #else odd #end">
            <td class="first">$esc.html($property.key)</td>
            <td>$esc.html($property.value)</td>
            <td></td>
        </tr>
        #end

        <tr id="new-property" style="display: none;">
            <td class="first">
                <input id="property-key" class="width-full" value="" maxlength="255"/>
            </td>
            <td>
                <input id="property-value" class="width-large" value="" maxlength="255"/>
            </td>
            <td>
                <img id="new-property-submit-indicator" src="$req.getContextPath()/$concatenatedSpinnerIconFilePath" alt="Submitting..." style="display: none;"/>

                <button id="new-property-save-button" class="submit" onclick="buildDetailProperties.saveProperties()"><span>Save</span></button>
                <button class="submit" onclick="buildDetailProperties.cancelAddPane()"><span>Cancel</span></button>
            </td>
        </tr>
    </table>
    <script type="text/javascript">
    var buildDetailProperties = new BuildDetailProperties("$presenter.pipelineName", "$presenter.pipelineLabel", "$presenter.stageName", "$presenter.buildName", "${presenter.buildLocator}");
    </script>
</div>
