<div class="form_buttons actions">
    <button class="left submit close_modalbox_control"><span><%= l.string('CANCEL') -%></span></button>
    <%= submit_button("Save", :class => 'primary finish') %>
</div>