<% scope[:omit_pipeline] ||= false %>
<div class="pipeline_bundle environment">
    <div class="pipelines">
        <%= content_wrapper_tag %>
        <h2 class="entity_title">
          <%= scope[:environment] %>
          <% if scope[:show_edit_environments] %>
            <%= link_to "", environment_show_path(:name => scope[:environment]), :class => 'icon16 setting' %>
          <% end %>
        </h2>
      <%= end_content_wrapper %>
    </div>
</div>
