<div id="unused_feature" class="unused_feature">
    <% if @environments.empty? %>
        <div class="pipeline_bundle environment">
            <div class="pipelines">
                <%= content_wrapper_tag %>
                <div class="notification">
                    <p class="information">
                        No environments are displayed because either no environments have been set up or you are not authorized to view the pipelines within any of the environments.
                        <%= link_to 'More Information', docs_url("/configuration/managing_environments.html"), :target => "_blank" %>
                    </p>
                </div>
                <%= end_content_wrapper %>
            </div>
        </div>
    <% end %>
</div>
