<% @view_title = "Environments" -%>
<% @page_header = '<h1 id="page-title" class="entity_title">Environments</h1>' -%>
<%= render :partial => "shared/subheader" %>
<%= render :partial => 'no_environments.html.erb', :locals => {:scope => {}} %>
<div id="ajax_environments" class="environments">
  <% @environments.each do |env_in_environments| %>
    <div id="<%= env_dom_id(env_in_environments.getEnvironmentConfig().name().to_s) %>">
      <% @can_edit_env= @show_add_environments && !env_in_environments.getEnvironmentConfig().isUnknown() %>
      <%= render :partial => "show_env", :locals => {:scope => {:show_edit_environments => @can_edit_env, :environment_view_model => env_in_environments}} %>
    </div>
  <% end %>
</div>