<% @view_title = "Environments" -%>
<% @page_header = '<h1 id="page-title" class="entity_title">Environments</h1>' -%>

<div id="ajax_environments" class="environments">
    <%= render :partial => 'environments', :locals => {:scope => {:show_edit_environments => @show_add_environments}} %>
</div>
