<%#
  Copyright Thoughtworks, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>
<div class="config">
    <% if is_user_an_admin? %>
        <% if scope[:config_revision] %>
            <% scope[:info_message] = "This version of config was edited by #{scope[:config_revision].getUsername()} on #{scope[:config_revision].getTime()}" -%>
            <%= render :partial => "admin/shared/notification_information", :locals => {:scope => {:notification_message => scope[:info_message]}} -%>
            <pre id="content_container" class="wrap_pre code"><%= h(scope[:config_revision].getContent()) -%></pre>
        <% else %>
            <%= render :partial => "admin/shared/notification_information", :locals => {:scope => {:notification_message => 'Historical configuration is not available for this stage run.'}} -%>
        <% end %>
    <% else %>
        <%= render :partial => "admin/shared/notification_information", :locals => {:scope => {:notification_message => 'Historical configuration is available only for Go Administrators.'}} -%>
    <% end %>
</div>