<% form_name_provider = scope["formNameProvider"] %>

<div ng-controller="PluginTemplateViewController" class="plugged_task">
    <div class="plugged_task_template form_item required" plugin-template="<%= form_name_provider.form_name_prefix %>">
        <%== scope["template"] %>
    </div>

    <span class="plugged_task_data" plugin-data style="display: none">
        <%= scope["data"] %>
    </span>
</div>
