<div class="form_content">
    <div class="agents_section">
        <div class="agents_selection_table">
            <div class="input">
                <% if scope[:agents].empty? %>
                    <%= l.string("NO_AGENTS") %>
                <% else %>
                    <%= render :partial => "environments/agents_table", :locals => {:scope => {:agents => scope[:agents], :exclude_columns => ["status", "usable_space"], :sortable_columns => false, :show_only_disabled => true, :selector_name => 'environment[agents][][uuid]', :selected => scope[:environment].agents.map(&:uuid)}} %>
                <% end %>
            </div>
        </div>
    </div>
</div>

