<div id="unused_feature" class="unused_feature">
    <% if @environments.empty? %>
        <div class="pipeline_bundle environment">
            <div class="pipelines">
                <%= content_wrapper_tag %>
                <div class="notification">
                    <p class="information">
                        <%= l.string("NO_ENVIRONMENTS_CONFIGURED") %>
                        <%= link_to l.string("MORE_INFORMATION"), "https://docs.gocd.org/current/configuration/managing_environments.html", :target => "_blank" %>
                    </p>
                </div>
                <%= end_content_wrapper %>
            </div>
        </div>
    <% end %>
</div>