<% @view_title = "Environments" -%>
<% @page_header = '<h1 id="page-title" class="entity_title">Environments</h1>' -%>

  <div id="ajax_environments" class="environments">
      <%= render :partial => 'environments', :locals => {:scope => {:show_edit_environments => @show_add_environments}} %>
  </div>

<script type="text/javascript">
    Util.on_load(function() {
        var reformatAllBuildTimes = function() {
          jQuery(".pipeline_instance .schedule_time").map(function(idx, timeDiv) {
            var timestamp = parseInt(jQuery(timeDiv).attr("data"));
            if (isNaN(timestamp)) return;
            var time = new Date(timestamp);
            jQuery(timeDiv).find("span.time").text(moment(time).format('DD MMM YYYY HH:mm:ss'));
          });
        };
        reformatAllBuildTimes();

        <% if auto_refresh? %>
        var dashboardAjaxRefresher = new DashboardAjaxRefresher('<%= url_for(:action => 'index', :format=>"json") %>',
        {redirectUrl: '<%= url_for_login %>', className: '.environment', refreshCompleted: function(isPartialRefresh) {
          reformatAllBuildTimes();
        } })
        AjaxRefreshers.addRefresher(dashboardAjaxRefresher, true);
        <% end %>
        ElementAligner.hookupAlignEvents();
    });
</script>

