#*
 * Copyright 2019 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<textarea id="build-summary-template" style="display:none;">
<li><span class="header">Scheduled on: </span><span id="build_scheduled_date">${% build.build_scheduled_date %}</span></li>
<li><span class="header">Agent: </span>
  {if build.agent_uuid != null }
    <span>
      {if $isAgentAlive }
            <a id="agent_name" href="$req.getContextPath()/agents/${% build.agent_uuid %}">${% build.agent.escapeHTML() %} (${% build.agent_ip %})</a>
      {else}
        <span id="agent_name">${% build.agent.escapeHTML() %} (${% build.agent_ip %})</span>
      {/if}
    </span>
  {else}
    <span>Not yet assigned</span>
  {/if}
  #if ($doesUserHaveViewAccessToStatusReportPage)
    {if build.build_assigned_date != -1}
    <a href="$req.getContextPath()/admin/status_reports/$elasticAgentPluginId/agent/${elasticAgentId}?job_id=${build.id}"
       class="btn-primary btn-small status-report-btn-small">Check Agent Status</a>
    {else}
    <a href="$req.getContextPath()/admin/status_reports/$elasticAgentPluginId/agent/unassigned?job_id=${build.id}"
       class="btn-primary btn-small status-report-btn-small">Check Agent Status</a>
    {/if}
  #end
</li>
  <li><span class="header">Completed on: </span><span id="build_completed_date">${% build.build_completed_date %}</span><a  href="#tab-properties" class ="more" target="_blank" onclick="new TabsManager('properties')">more...</a></li>
<li><span class="header">Build cause: </span><span id="stage-${% build.id %}-buildCause">$esc.html($esc.html($presenter.buildCauseMessage))</span></li>
  {if build.current_status.toLowerCase() == 'passed' ||  build.current_status.toLowerCase() == 'failed'}
<li><span class="header">Duration: </span><span>${% moment.duration(parseInt(build.current_build_duration), 's').humanizeForGoCD() %}</span></li>
{/if}
{if isEstimatable(build.current_status) }
<li class="progress-info">
    <span class="header">Progress:</span>
    {if build.last_build_duration && build.last_build_duration != ''}
        {if parseInt(build.current_build_duration) > parseInt(build.last_build_duration)}
            Longer by: ${ moment.duration(parseInt(build.current_build_duration) - parseInt(build.last_build_duration), 's').humanizeForGoCD() }
        {else}
            Elapsed: ${%moment.duration(parseInt(build.current_build_duration), 's').humanizeForGoCD() %}, ETA: ${ moment.duration(parseInt(build.last_build_duration) - parseInt(build.current_build_duration), 's').humanizeForGoCD() }
        {/if}
    {else}
        Elapsed: ${ moment.duration(parseInt(build.current_build_duration), 's').humanizeForGoCD() }
    {/if}
    {if build.last_build_duration && build.last_build_duration != '' && (parseInt(build.current_build_duration) <= parseInt(build.last_build_duration))}
        <div class="progress-bar">
            <div class="progress" style="width: {if parseInt(build.current_build_duration) > parseInt(build.last_build_duration)}100{else}${ 100 * parseInt(build.current_build_duration) / parseInt(build.last_build_duration) }{/if}%;">
            </div>
        </div>
    {/if}
</li>
{/if}
</textarea>
