#*
 * Copyright 2021 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
## layout level variable
#set ($title = "$presenter.buildName Job Details - Go")
#set($current_tab='build')
## page level variable
#set($_page_title="Job Details for ${presenter.buildLocatorForDisplay}")
#parse("shared/_header.vm")

#parse("build_detail/_build_detail_summary_jstemplate.vm")
<div id="yui-main">
  <div class="yui-b">
    <!-- breadcrumbs -->
      #set($current_page="build_detail")
      #set($pipelineName=$presenter.pipelineName)
      #set($stageLocator=$presenter.stageLocator)

      #parse("shared/_job_details_breadcrumbs.vm")
    <!-- /breadcrumbs -->

    <div class="content_wrapper_outer">
      <div class="row">
        <div class="content_wrapper_inner">
          <div id="build-status-panel" class="bd-container rounded-corner-for-pipeline">
            <div class="maincol build_detail">
                #parse("shared/_flash_message.vm")
                #set($jobConfigName = $presenter.buildName)
              <div id="build_detail_summary_container" class="build_detail_summary">
                <ul id="build-detail-summary" class="summary">
                  <li><span class="header">Scheduled on: </span><span id="build_scheduled_date">Loading...</span></li>
                  <li><span class="header">Agent: </span><span id="agent_name">Loading...</span></li>
                  <li><span class="header">Completed on: </span><span id="build_completed_date">Loading...</span><a
                    href="#tab-properties" class="more" onclick="new TabsManager('properties')">more...</a></li>
                  <li><span class="header">Build cause: </span><span
                    id="stage-${presenter.id}-buildCause">$esc.html($presenter.buildCauseMessage)</span></li>
                  <li class="timer_area">
                    <div class="progress-info">
                      <div id="${presenter.buildName}_progress_bar" class="progress-bar" style="display: none;">
                        <div id="${presenter.buildName}_progress" class="progress"></div>
                      </div>
                      <div class="progress-eta">
                        <span class="header" id="${presenter.buildName}_time_remaining_label"></span>
                        <span id="${presenter.buildName}_time_remaining">&nbsp;</span>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="clear"></div>
              </div>

              <div class="job_details_content" data-pipeline="${presenter.pipelineName}" data-pipeline-counter="${presenter.pipelineCounter}" data-pipeline-label="${presenter.pipelineLabel}" data-stage="${presenter.stageName}" data-stage-counter="${presenter.stageCounter}" data-job="${presenter.id}" data-build="${presenter.buildName}" data-result="$presenter.result" data-websocket="#if($websocketEnabled)enabled#{else}disabled#end">
                <div class="sub_tabs_container">
                  <ul>
                    <li class="current_tab" id="build_console">
                      <a class="tab_button_body_match_text">console</a>
                      <a>Console</a>
                    </li>
                    <li>
                      <a class="tab_button_body_match_text">tests</a>
                      <a>Tests</a>
                    </li>
                    <li id="failures_console">
                      <a class="tab_button_body_match_text">failures</a>
                      <a>Failures</a>
                    </li>
                    <li>
                      <a class="tab_button_body_match_text">artifacts</a>
                      <a>Artifacts</a>
                    </li>
                    <li>
                      <a class="tab_button_body_match_text">materials</a>
                      <a>Materials</a>
                    </li>
                    #if (!$disallowPropertiesAccess)
                      <li>
                        <a class="tab_button_body_match_text">properties</a>
                        <a>Properties</a>
                      </li>
                    #end
                      #foreach( $tab in $presenter.customizedTabs )
                        <li>
                          <a class="tab_button_body_match_text">$tab.name.toLowerCase()</a>
                          <a>$tab.name</a>
                        </li>
                      #end
                  </ul>
                  <a href="#" id="link-to-this-page"
                     title="The permanent link of this tab, you can share this url with other team members.">Link to
                    this
                    tab</a>

                  <div class="clear"></div>
                </div>

              <div class="sidebar_history">
                  #parse("sidebar/_sidebar_build_list.vm")
              </div>
                <div class="build_detail_container sub_tab_container rounded-corner-for-tab-container">


                  <div class="sub_tab_container_content">
                    <div class="clear"></div>

                      #set($buildoutput_extra_attrs="")
                      #parse("build_detail/_buildoutput.vm")

                      #set($tests_extra_attrs="style='display:none'")
                      #parse("build_detail/_tests.vm")

                      #set($errors_extra_attrs="style='display:none'")
                      #parse("build_detail/_failures.vm")

                      #set($artifacts_extra_attrs="style='display:none'")
                      #parse("build_detail/_artifacts.vm")

                      #set($modification_extra_attrs="style='display:none'")
                      #parse("build_detail/_materials.vm")

                      #set($properties_extra_attrs="style='display:none'")
                      #parse("build_detail/_properties.vm")

                      #foreach( $tab in $presenter.customizedTabs )
                          #set($customized_name=$tab.name)
                          #set($customized_path=$tab.path)
                          #parse("build_detail/_customized.vm")
                      #end
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
#parse("shared/_footer.vm")
