<div class="hilighted">
    <%= render :partial => 'shared/selector', :locals => {:scope => {:selection => @admin_selection, :selection_field_name => "admin", :disabled_message => 'The selected users have administrative privilege via other roles. To remove this privilege, remove them from all administrative roles.'}} %>
</div>
<%= render :partial => 'shared/selectors', :locals => {:scope => {:selections=>@selections}} %>